
<div id="tick_daily_summary">
  <div class="row">
    <div class="col-xs-12">
      <div class="routelist">
      <h2><%= page_entries_info @ticks  %>
      </h2>
    </div>
    </div>

  </div>

<% @tick_dates.each do |tick_date| %>
  <ol class="routelist">
    <div class="date-list">
      <li>
        <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
          <h3 style="color: #444;" class="tab"><%= Date.strptime(tick_date.to_s, '%Y-%m-%d').to_date.strftime('%A | %Y-%m-%d') %></h3>
        <% end %>
        <p class="tab"><%= link_to "see all", "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}", class: "btn btn-expire" %></p>
        <br>
        <br>
        <div class="container-fluid">
            <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
            <div class="circle-wrapper">
              <div class="large-circle responsive"><%= @ticks.total_send_overall_count(@user, "project").total_on(tick_date) %><span class="text"><%= "ascent".pluralize(@ticks.total_on(tick_date)) %></span></div>
            </div>
            <% end %>

            <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
            <div class="circle-wrapper">
              <div class="large-circle responsive"><%= @ticks.total_on(tick_date) %><span class="text"><%= "attempt".pluralize(@ticks.total_on(tick_date)) %></span></div>
            </div>
            <% end %>

            <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
            <div class="circle-wrapper">
              <div class="large-circle responsive"><%= @ticks.ascent.where(date: tick_date).grade_desc.first.grade.grade if @ticks.ascent.where(date: tick_date).count > 0 %><span class="text">hardest</span></div>
            </div>
            <% end %>
            <br>
          <div class='col-sm-12'>

          <div class="row">

            <%= render(
            partial: 'ticks/usergradedist_daily',
            locals: { ticks: @ticks.where(date: tick_date), tick_date: tick_date }
            ) %>

          </div>


</div>
<div class="col-sm-6">

</div>
</li>




</ol>
<% end %>

</div>
