
<div id="tick_daily_summary">
  <div class="row">
    <div class="col-xs-12">
      <div class="routelist">
      <h2><%= page_entries_info @ticks  %>
      </h2>
    </div>
    </div>

  </div>

<% @tick_dates.each do |tick_date| %>
  <ol class="routelist">
    <div class="date-list">
      <li>
        <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
          <h3 style="color: #444;" class="tab"><%= Date.strptime(tick_date.to_s, '%Y-%m-%d').to_date.strftime('%A | %Y-%m-%d') %></h3>
        <% end %>
        <p class="tab"><%= link_to "see all", "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}", class: "btn btn-expire" %></p>
        <br>
        <br>
        <div class="container-fluid">
          <div class="hidden-sm hidden-md hidden-lg">
            <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
            <div class="circle-wrapper">
              <div class="large-circle responsive"><%= @ticks.total_send_overall_count(@user, "project").total_on(tick_date) %><span class="text"><%= "ascent".pluralize(@ticks.total_on(tick_date)) %></span></div>
            </div>
            <% end %>

            <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
            <div class="circle-wrapper">
              <div class="large-circle responsive"><%= @ticks.total_on(tick_date) %><span class="text"><%= "attempt".pluralize(@ticks.total_on(tick_date)) %></span></div>
            </div>
            <% end %>

            <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
            <div class="circle-wrapper">
              <div class="large-circle responsive"><%= @ticks.ascent.where(date: tick_date).grade_desc.first.grade.grade %><span class="text">hardest</span></div>
            </div>
            <% end %>
            <br>
          </div>
          <div class='col-sm-6'>
          <% ((@ticks.includes(:route, :grade).where(date: tick_date).ascent.grade_desc.limit(5)) + (@ticks.includes(:route, :grade).where(date: tick_date, tick_type: "project").grade_desc.limit(5)))[0..4].each do |f| %>
          <ol class="ticklist">

            <% if f.route_id? %>


              <% if f.route.color_hex? %>
              <li style="border-left: 15px solid <%= f.route.color_hex %>">
              <% else %>
              <li>
              <% end %>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>

                        <%= link_to f.route.grade.grade , facility_route_path(f.route.facility_id, f.route_id) if f.route.grade %>

                    </h3>
                    <h2>

                      <% if f.route.zone.name == 'Climber Generated' %>
                        <%= f.route.facility.name if f.route %>
                      <% else %>
                        <%= f.route.zone.name if f.route.zone %>
                      <% end %>

                    </h2>
                    <span class="pull-right">
                      <% if f.grade_id? %>
                      <h2>
                        <% if GradeSystem.where(id: f.route.grade.grade_system_id).first.discipline == 'sport' %><%= f.rope_climb_type_in_words %> | <% end %>
                      </h2>
                      <% end %>
                      <h2><%= f.tick_type.humanize if f.tick_type %></h2>
                    </span>
                  </div>

                </div>
              </div>
            </li>

            <% else %>


            <% if f.color_hex? %>
            <li style="border-left: 15px solid <%= f.color_hex %>">
            <% else %>
            <li>
            <% end %>

            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <h3>
                    <% if @user == current_user %>
                      <%= link_to f.grade.grade, edit_user_tick_path(@user, f) if f.grade  %>
                    <% else %>
                        <%= f.grade.grade %>
                    <% end %>
                  </h3>
                  <h2> <%= f.facility.name if f.facility %></h2>
                   <span class="pull-right">
                     <% if f.grade_id? %>
                     <h2>
                       <% if GradeSystem.where(id: f.grade.grade_system_id).first.discipline == 'sport' %><%= f.rope_climb_type_in_words %> | <% end %>
                     </h2>
                     <% end %>
                     <h2><%= f.tick_type if f.tick_type %></h2>
                   </span>

                </div>
              </div>
            </div>
          </li>



          <% end %>

          </ol>

  <% end %>
</div>
<div class="col-sm-6">
  <div class="hidden-xs">
    <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><%= @ticks.total_send_overall_count(@user, "project").total_on(tick_date) %><span class="text"><%= "ascent".pluralize(@ticks.total_send_overall_count(@user, "project").total_on(tick_date)) %></span></div>
    </div>
    <% end %>

    <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><%= @ticks.total_on(tick_date) %><span class="text"><%= "attempt".pluralize(@ticks.total_on(tick_date)) %></span></div>
    </div>
    <% end %>

    <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><%= number_to_percentage(((@ticks.total_send_overall_count(@user, "project").total_on(tick_date).to_f)/(@ticks.total_on(tick_date).to_f)*100), precision: 0) %><span class="text"><%= "send rate" %></span></div>
    </div>
    <% end %>

    <%= link_to "/users/#{@user.id}/ticks/tick_list?utf8=%E2%9C%93&filterrific%5Bwith_date_eq%5D=#{tick_date}" do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><%= @ticks.where(date: tick_date).grade_desc.first.grade.grade %><span class="text">hardest</span></div>
    </div>
    <% end %>
</div>
</div>
</li>




</ol>
<% end %>

</div>
