
  <div class="row">
    <div class="col-xs-12">
      <div class="routelist">
      <h2><%= page_entries_info @ticks  %>
      </h2>
      <span class="pull-right">
        <%= link_to(
          'Reset filters',
          reset_filterrific_url
        ) %>
      </span>
    </div>
    </div>

  </div>

<% @tick_dates.each do |tick_date| %>
  <ol class="routelist">
    <div class="date-list">
      <li>
        <h3 style="color: #444;" class="tab"><%= Date.strptime(tick_date.to_s, '%Y-%m-%d').to_date.strftime('%A | %Y-%m-%d') %></h3>
        <br>
        <br>
        <div class="container-fluid">
          <div class="hidden-sm hidden-md hidden-lg">
            <div class="large-circle responsive"><%= @ticks.total_on(tick_date) %><span class="text"><%= "ascent".pluralize(@ticks.total_on(tick_date)) %></span></div>
            <div class="large-circle responsive"><%= @ticks.where(date: tick_date).grade_desc.first.grade.grade %><span class="text">hardest</span></div>
            <br>
          </div>
          <div class='col-sm-6'>
          <% @ticks.where(date: tick_date).each do |f| %>
          <ol class="ticklist">
            <% if f.route_id? %>

              <% if f.route.color_hex? %>
              <li style="border-left: 15px solid <%= f.route.color_hex %>">
              <% else %>
              <li>
              <% end %>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12">
                    <h3>
                      <% if f.route.color? %>
                        <%= link_to f.route.grade.grade , edit_user_tick_path(@user, f) if f.route.grade %>
                      <% elsif (color_name(f.route.color_hex,f.route.facility)).nil? %>
                        <%= link_to f.route.grade.grade , edit_user_tick_path(@user, f) if f.route.grade %>
                      <% else %>
                        <%= link_to f.route.grade.grade, edit_user_tick_path(@user, f) if f.route.grade %>
                      <% end %>
                    </h3>
                    <h2> <%= f.route.zone.name %></h2>
                    <span class="pull-right">
                      <% if f.grade_id? %>
                      <h2>
                        <% if GradeSystem.where(id: f.route.grade.grade_system_id).first.discipline == 'sport' %><%= f.rope_climb_type_in_words %><% end %>
                      </h2>
                      <% end %>
                      <h3> | <%= f.tick_type.humanize %></h3>
                    </span>

                  </div>

                </div>
              </div>
            </li>

            <% else %>

            <% if f.color_hex? %>
            <li style="border-left: 15px solid <%= f.color_hex %>">
            <% else %>
            <li>
            <% end %>

            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <h3>
                    <% if f.color? %>
                      <%= link_to f.grade.grade , edit_user_tick_path(@user, f) if f.grade %>
                    <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                      <%= link_to f.grade.grade , edit_user_tick_path(@user, f) if f.grade %>
                    <% else %>
                      <%= link_to f.grade.grade, edit_user_tick_path(@user, f) if f.grade  %>
                    <% end %>
                  </h3>

                   <span class="pull-right">
                     <% if f.grade_id? %>
                     <h2>
                       <% if GradeSystem.where(id: f.grade.grade_system_id).first.discipline == 'sport' %><%= f.rope_climb_type_in_words %><% end %>
                     </h2>
                     <% end %>
                     <h3> | <%= f.tick_type %></h3>
                   </span>

                </div>
              </div>

              <div class="row">


              </div>
            </div>
          </li>

          <% end %>
          </ol>
  <% end %>
</div>
<div class="col-sm-6">
  <div class="hidden-xs">
    <div class="large-circle responsive"><%= @ticks.total_on(tick_date) %><span class="text"><%= "ascent".pluralize(@ticks.total_on(tick_date)) %></span></div>
    <div class="large-circle responsive"><%= @ticks.where(date: tick_date).grade_desc.first.grade.grade %><span class="text">hardest</span></div>
</div>
</div>
</li>


</ol>
<% end %>



  <%= paginate @ticks %>
