<div>
  <div class="">
    <div class="routelist-header bg-blue-gradient">
      <h1 class="hidden-xs">Ascents</h1>
      <h1 class="hidden-sm hidden-md hidden-lg hidden-xl"><strong>tick</strong>list </h1>
    <span class="pull-right">
      <span><%= link_to "daily summary", user_ticks_path(@user), class: "btn btn-filter", style: "display: inline-block;" %></span>
    </span>
  </div>
  </div>
</div>

<br>

<%= form_for_filterrific @filterrific do |f| %>




  <div class="">
      <div class="route-form">
        <div id="donate">
          <% tick_date_filters.each do |zone| %>
            <label class="blue"><%= f.radio_button :with_date_gte, zone[1] %>
              <span><%= zone[0] %></span>
            </label>
          <% end %>
        </div>
        <div id="spinner" class="spinner-class hidden" >
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
           <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        </div>
      </div>
      <br>
  </div>

<% end %>


  <%= render(
  partial: 'ticks/tick_list_list',
  locals: { ticks: @ticks }
  ) %>


  <script type="text/javascript">
  $(document).bind("ajaxStart", function(){
     $("#spinner").removeClass('hidden');
     $("#donate").addClass('blur-out');
   })

   $(document).bind("ajaxComplete", function(){
     $("#spinner").addClass('hidden');
     $("#donate").removeClass('blur-out');

   });
   </script>
