

<br>
<div id="tick_list">
  <div class='col-sm-12'>
    <div class="row">
        <div class="routelist">
        <h2><%= page_entries_info @ticks  %>
        </h2>
      </div>
      </div>

    </div>


    <div class="date-list">


            <div class="row">
              <div class='col-sm-12'>
              <% @ticks.includes(:route, :grade, :user).order('created_at desc').each do |f| %>
              <ol class="routelist ticklist">

                <% if f.route_id? %>


                  <% if f.route.color_hex? %>
                  <li style="border-left: 15px solid <%= f.route.color_hex %>">
                  <% else %>
                  <li>
                  <% end %>

                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h2> <%= f.date.strftime('%A , %m/%d') if f.date %> - <%= f.route.zone.name if f.route.zone %></h2>

                      </div>

                      <div class="col-sm-10 col-xs-8">
                        <h3>

                            <%= link_to f.route.grade.grade , facility_route_path(f.route.facility_id, f.route_id) if f.route.grade %>

                        </h3>
                        <% if f.grade_id? %>
                        <h2>
                          <% if GradeSystem.includes(:grades, :routes).where(id: f.route.grade.grade_system_id).first.discipline == 'sport' %><%= f.rope_climb_type_in_words %> | <% end %>
                        </h2>
                        <% end %>
                        <h2><%= f.tick_type.humanize if f.tick_type %></h2>

                      </div>

                      <% if current_user == @user %>
                      <div class="col-sm-2 col-xs-4">

                        <span class="pull-right">

                          <h3 class="pull-right"><%= link_to user_tick_path(current_user, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                                      :method => :delete do %>
                                      <i class="glyphicon glyphicon-trash"></i>
                                      <%end %>
                          </h3>
                        </span>
                        <span>

                          <h3 class="tab"><%= link_to edit_user_tick_path(current_user, f) do %>
                                      <i class="glyphicon glyphicon-cog"></i>
                                      <%end %>
                          </h3>
                        </span>
                      </div>

                      <% end %>
                    </div>

                    <div class="row">
                      <div class="col-xs-12">


                        <span><i>
                          <% if f.description %>
                          <h2> <%= f.description if f.description %></h2>
                          <% else %>
                          <h2>No description</h2>
                          <% end %>
                        </i>
                        </span>

                      </div>

                    </div>
                  </div>
                </li>

                <% else %>


                <% if f.color_hex? %>
                <li style="border-left: 15px solid <%= f.color_hex %>">
                <% else %>
                <li>
                <% end %>

                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12">
                      <h2> <%= f.date.strftime('%A , %m/%d') if f.date %> <%= (" - " + f.facility.name) if f.facility %></h2>

                    </div>

                    <div class="col-sm-10 col-xs-8">
                      <h3>

                        <% if @user == current_user %>
                          <%= link_to f.grade.grade , edit_user_tick_path(f.user_id, f) if f.grade %>
                        <% else %>
                          <%= f.grade.grade if f.grade %>
                        <% end %>

                      </h3>
                      <% if f.grade_id? %>
                      <h2>
                        <% if GradeSystem.includes(:grades).where(id: f.grade.grade_system_id).first.discipline == 'sport' %><%= f.rope_climb_type_in_words %> | <% end %>
                      </h2>
                      <% end %>
                      <h2><%= f.tick_type.humanize if f.tick_type %></h2>

                    </div>

                    <% if current_user == @user %>
                    <div class="col-sm-2 col-xs-4">

                      <span class="pull-right">

                        <h3 class="pull-right"><%= link_to user_tick_path(current_user, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                                    :method => :delete do %>
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <%end %>
                        </h3>
                      </span>
                      <span>

                        <h3 class="tab"><%= link_to edit_user_tick_path(current_user, f) do %>
                                    <i class="glyphicon glyphicon-cog"></i>
                                    <%end %>
                        </h3>
                      </span>
                    </div>

                    <% end %>
                  </div>

                  <div class="row">
                    <div class="col-xs-12">


                      <span><i>
                        <% if f.description %>
                        <h2> <%= f.description if f.description %></h2>
                        <% else %>
                        <h2>No description</h2>
                        <% end %>
                      </i>
                      </span>

                    </div>

                  </div>
                </div>
              </li>

              <% end %>
              </ol>
      <% end %>
    </div>

    </div>
  </div>
</div>
