<% provide(:title, ' Ascents') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5 col-md-4">
      <%= render 'users/user_stats' %>
      <div class="hidden-sm hidden-md hidden-lg"><br></div>
    <div class="hidden-xs">
      <%= render 'users/top10sends' %>
      <%= render 'users/top10routes' %>
      <%= render 'users/newest10routes' %>
    </div>
    </div>
        <div class="col-sm-7 col-md-8">
            <%= render 'ticks/index_partial', object: @user_tick_feed %>
        </div>
      </div>
</div>
