<%= form_for [ @lead ] do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="col-md-10 col-sm-8">
    <%= f.text_field :email, class: 'form-control signup', placeholder: "Enter your email address for launch updates" %>
    <br/>
</div>
  <%= f.hidden_field :source, value: 'prelaunch' %>
<div class="col-md-2 col-sm-4">
  <%= f.submit "CONNECT", class: "btn btn-signup" %>
</div>


<% end %>
