
<%= div_for(@demo_facility.routes.current.last(3)) do |f| %>
  <ol class="routelist">

      <% if f.color? %>
        <% if ["light", "dark", "neon", "hot"].include?(f.color.split(/\W+/).first.downcase.to_s) %>
          <li class="<%= f.color.split(/\W+/).second.downcase.to_s %>">

          <% else %>

          <li class="<%= f.color.split(/\W+/).first.downcase.to_s %>">

          <% end %>
      <% else %>
        <li>
      <% end %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <h3>
              <%= link_to f.grade.grade + " "+ f.color.upcase , "#" if f.grade %>
            </h3>
            <h2> <%= f.name %></h2>
          </div>

          <div class="col-xs-2 col-sm-2 no-print">
              <h3><%= link_to "#", remote: true do %>
                <i class="glyphicon glyphicon-cog pull-right"></i>
              <%end %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="tab"><strong><% unless params[:controller] == "admin/tasks" %>Route ID: <% else %>Task ID: <% end %></strong><%= f.id %></div>

          </div>
          <div class="col-sm-12">
              <div class="tab"><strong>Location: </strong><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %> > <%= f.sub_child_zone.name if f.sub_child_zone %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="tab"><strong>

              <% if params[:controller] == "admin/tasks" %>

               Assigned to:

               <% else %>

               Set by:

               <% end %>

             </strong><%= f.user.name if f.user %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="tab text-right">


              <% unless params[:controller] == 'admin/tasks' %>
                <% if (@random_number == 1) %>
                  <span class="badge badge-today">set today</span>
                <% else %>
                  set <%= @random_number %> days ago
                <% end %>
              <% else %>
                <% if f.setdate? %>
                due on <%= f.setdate.strftime("%b %d, %Y") %>
                <% end %>
              <% end %>


              <% if f.user %>
                <% if f.user.image? %>
                  <%= image_tag f.user.image ,:class=> "img-setter-icon" %>
                <% elsif f.user.avatar_file_name? %>
                  <%= image_tag f.user.avatar.url(:thumb), class: "img-setter-icon" %>
                <% end %>
              <% end %>



            </div>
          </div>
        </div>

        <div class="row">

          <div class="no-print">
            <br/>
            <div class="col-xs-6 col-sm-6">
              <% if f.active? %>
                <%= button_to "expire",  "#", class: 'btn btn-expire btn-xs', remote: true %>
              <% else %>
                <%= button_to "expired",  "#", class: 'btn btn-expired btn-xs', remote: true %>
              <% end %>
            </div>

            <div class="col-xs-6 col-sm-6 no-print">
              <%= button_to "create task",  "#", class: 'btn btn-expire btn-xs', remote: true %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
