
  <div class="col-md-6 col-md-offset-3">
    <div class="span7 text-center">
      <div class="row hidden-xl hidden-lg hidden-md hidden-sm">
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-sm' %>
      </div>
      <div class="row hidden-xs">
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-facebook btn-sm' %>
      </div>
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      <br/>
      <div class="row">
      Don't have Facebook?
      </div>
      <div class="row">
      <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Log in", new_user_session_path %>
      </div>
    </div>
  </div>
