
  <%= div_for(@demo_facility.tasks.last(2)) do |f| %>
  <ol class="routelist">


      <% if f.color? %>
        <% if ["light", "dark", "neon", "hot"].include?(f.color.split(/\W+/).first.downcase.to_s) %>
          <li class="<%= f.color.split(/\W+/).second.downcase.to_s %>">

          <% else %>

          <li class="<%= f.color.split(/\W+/).first.downcase.to_s %>">

          <% end %>
      <% else %>
        <li>
      <% end %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10">

            <% unless f.grade_id? %>
            <h3>
              <% unless f.task_type == "route_task" %>
                <span class="glyphicon glyphicon-wrench"></span>
                <%= link_to "MAINTENANCE ITEM" , "#" %>

                <% else %>
                <span class="glyphicon glyphicon-calendar"></span>
                <%= link_to "NEW ROUTE" , "#" %>

              <% end %>
            </h3>

            <% else %>

            <h3>
              <% unless f.task_type == "route_task" %>
                <span class="glyphicon glyphicon-wrench"></span>

              <% else %>
              <span class="glyphicon glyphicon-calendar"></span>
              <% end %>

              <%= link_to f.grade.grade + " "+ f.color.upcase , "#" %>
            </h3>

            <% end %>

            <h2> <%= f.name %></h2>
          </div>

          <div class="col-xs-2 col-sm-1 no-print">
              <h3><%= link_to "#", remote: true do %>
                <i class="glyphicon glyphicon-cog pull-right"></i>
              <%end %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="task-tab"><strong><% unless params[:controller] == "admin/tasks" %>Route ID: <% else %>Task ID: <% end %></strong><%= f.task_number %></div>

          </div>
          <div class="col-sm-12">
              <div class="task-tab"><strong>Location: </strong><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %> > <%= f.sub_child_zone.name if f.sub_child_zone %></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="task-tab"><strong>

              <% if params[:controller] == "admin/tasks" %>

              <% if f.assignee_id? %> Assigned to:

              <% end %>

               <% else %>

               Assigned to:

               <% end %>

             </strong><%= f.assignee.name if f.assignee_id %></div>
          </div>
        </div>

        <% if f.task_description? %>
        <div class="row">
          <div class="col-sm-12">
            <span class="task-tab"><strong>Description: </strong><i><%= f.task_description %></i></span>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="task-task-tab text-right">

                  <span class="badge badge-today">due today</span>


              <% if f.assignee %>
                <% if f.assignee.image? %>
                  <%= image_tag f.assignee.image ,:class=> "img-setter-icon" %>
                <% elsif f.assignee.avatar_file_name? %>
                  <%= image_tag f.assignee.avatar.url(:thumb), class: "img-setter-icon" %>
                <% else %>
                  <span class="img-setter-icon hidden-xs"><%= f.assignee.name %><span>
                <% end %>
              <% end %>



            </div>
          </div>
        </div>

        <div class="row">

          <div class="no-print">
            <br/>
            <div class="col-xs-6 col-sm-6">
              <% if f.task_type == 'route_task'  && f.active? %>
                <%= button_to "#", class: 'btn btn-expire btn-xs', remote: true do %>
                      move to routes <i class="glyphicon glyphicon-share-alt"></i>
                      <%end %>
              <% end %>
            </div>

            <div class="col-xs-6 col-sm-6 no-print">
              <% if f.active? %>
              <%= button_to "mark as done",  "#", class: 'btn btn-expire btn-xs', remote: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
