<script>
$('.navbar').css('background-color', 'transparent');
$(document).on('ready turbolinks:load', function(){
   var scroll_start = 0;
   var startchange = $('#startchange');
   var offset = startchange.offset();
    if (startchange.length){
   $(document).scroll(function() {
      scroll_start = $(this).scrollTop();
      if(scroll_start > offset.top) {
          $(".navbar").css('background-color', 'rgba(0,0,0,.8)');
       } else {
          $('.navbar').css('background-color', 'transparent');
       }
   });
    }
});

$('#hamburger').click(function() {
    $('.navbar').css({
        'background-color': 'rgba(0,0,0,.8)',
    });
});
</script>

<meta name="description" content="Track your indoor climbing today, with Climb Connect!" />
<meta name="keywords" content="routesetting, route setting, climbing, gym climb tracker, gym management" />


<div class="home-body">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="50000">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="hidden-xs">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/homepage-chalkbag-logo.jpg", alt: "hello", class: "img-responsive") %>
      </div>
      <div class="hidden-sm hidden-md hidden-lg">
      <%= image_tag("https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/cc_chalkbag.jpg", alt: "hello", class: "img-responsive") %>
      </div>
      <div class="carousel-caption">

        <% unless user_signed_in? %>

        <%= link_to "Join", new_user_registration_path, class: "btn btn-join btn-lg", data: { turbolinks: false } %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-signin btn-lg", data: { turbolinks: false }%>

        <% end %>

      <% if user_signed_in? %>
        <% if FacilityRole.where(email: current_user.email, user_id: nil).count > 0 %>
          <div class="center">
            <p>You have <%= FacilityRole.where(email: current_user.email, user_id: nil).count %> pending <%= "invite".pluralize(FacilityRole.where(email: current_user.email, user_id: nil).count ) %> </p>

          <%= link_to "confirm", inbox_user_path(current_user), class: "btn btn-signin btn-lg", data: { turbolinks: false } %>
          </div>
        <% else %>

        <%= link_to "climb smart", home_user_path(current_user), class: "btn btn-join btn-lg", data: { turbolinks: false } %>
        <%= link_to "set smart", new_admin_facility_path, class: "btn btn-signin btn-lg", data: { turbolinks: false } %>

        <% end %>

      <% end %>


      </div>
    </div>

  </div>
</div>


<div id="features"></div>
<div class="container-fluid">
  <div class="col-sm-7">
    <div class="hero-unit">
        <h1>DISCOVER. TRACK. CONNECT.</h1>
        <h2><i class="fa fa-binoculars" aria-hidden="true"></i> Discover Routes</h2>
        <h2><i class="fa fa-share-alt" aria-hidden="true"></i> Create Circuits</h2>
        <h2><i class="fa fa-bar-chart" aria-hidden="true"></i> Track Progress & Training</h2>
        <h2><i class="fa fa-group" aria-hidden="true"></i> Compete with Friends</h2>
        <br>
        <p>Climb Connect gives you access to the routes your gym is setting and allows you to add your own. Track what you're climbing, set up project lists, and create competitions with your friends. #climbsmart
        </p>
        <% if current_user.present? %>
        <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% else %>
        <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>

    </div>
  </div>
  <div class="col-sm-5">
    <br>
    <br>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/climbconnect-assets/photos/cc-climber-female.jpg" ,width: '100%', height: '100%') %>
  </div>
</div>



<div class="container-fluid">
  <br>
  <div class="col-sm-5 hidden-xs">
    <br>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/route-setter.jpg" ,width: '100%', height: '100%') %>
  </div>
  <div class="col-sm-7">
    <div class="hero-unit">
      <h1>Route Setters First</h1>
      <h2><i class="fa fa-wrench" aria-hidden="true"></i> Workflow Optimization</h2>
      <h2><i class="fa fa-group" aria-hidden="true"></i> Team Management</h2>
      <h2><i class="fa fa-area-chart" aria-hidden="true"></i> Facility & Member Analytics</h2>
      <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Custom Grading</h2>
      <br>
      <p>We've worked with some of the best setters in the industry to make sure it creates value in their everyday workflow. It's about staying organized, managing your team, and staying connected. #setsmart
      </p>
        <% if current_user.present? %>
        <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% else %>
        <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>
    </div>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
    <br>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/route-setter.jpg" ,width: '100%', height: '100%') %>
  </div>
</div>


<div class="container-fluid">
  <div class="col-sm-6">
    <div class="hero-unit">
        <h1>Analytics</h1>
        <p>You don't need an MBA to be an analytics pro.  Show off your work and impress your boss with Climb Connect analytics. #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% else %>
        <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>
    </div>
  </div>
  <div class="col-sm-6">
    <br>
    <br>
    <%= render 'static_pages/gradedist_boulder' %>
  </div>
</div>


<div class="container-fluid">
  <br>
  <div class="col-sm-5 hidden-xs">
    <br>
    <%= render 'static_pages/route_list' %>
  </div>
  <div class="col-sm-7">
    <div class="hero-unit">
        <h1>Route Database</h1>
        <h2><i class="fa fa-check-circle" aria-hidden="true"></i> Unlimited Storage</h2>
        <h2><i class="fa fa-check-circle" aria-hidden="true"></i> Intuitive User Interface</h2>
        <h2><i class="fa fa-check-circle" aria-hidden="true"></i> Manage and Assign Tasks</h2>
        <h2><i class="fa fa-check-circle" aria-hidden="true"></i> Photos and Video (coming soon!)</h2>
        <br>
        <p>Unlimited storage in a helpful and easy to use database.  Add routes and upload photos from your mobile with only a few taps.  Strip routes and create maintenance tasks based on specific routes. #setsmart </p>

        <% if current_user.present? %>
        <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% else %>
        <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>
      </div>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
      <br>
      <%= render 'static_pages/route_list' %>
    </div>
  </div>


  <div class="container-fluid">
    <div class="col-sm-8">
      <div class="hero-unit">
          <h1>Customize Your Facility</h1>
          <p>Set up custom grading scales and organize your facility by zones. Create targets and maximize your route setting potential in each area of your gym. #setsmart</p>
          <% if current_user.present? %>
          <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
          <% else %>
          <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
          <% end %>
          <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>
      </div>
    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <%= render 'static_pages/walldist' %>
    </div>

  </div>



<div class="container-fluid">
  <div class="col-sm-6 hidden-xs">
    <br>
    <%= render 'static_pages/task_list' %>
  </div>
  <div class="col-sm-6">
    <div class="hero-unit">
        <h1>Get Things Done</h1>
        <p>Have your day planned before you get out of bed.  Create and assign tasks, manage your team, and stay organize. Strip entire zones and bulk create route setting tasks based on targets that you set. #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% else %>
        <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>
    </div>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
    <br>
    <%= render 'static_pages/task_list' %>
  </div>
</div>


<div class="container-fluid">
  <div class="col-sm-8">
    <div class="hero-unit">
        <h1>Talk to us!</h1>
        <p>We don't wear headsets all day, but we do want to make sure you have everything you need to get set up.  Shoot us an email and we'll respond as quickly as we can to make sure you have what you need.  Or better yet, come climb with us if you're in the Denver area! #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Start Today »", new_admin_facility_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% else %>
        <p><%= link_to "Start Today »", new_user_registration_path, class: "btn btn-blue btn-large pull-right tab", data: { turbolinks: false } %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right", data: { turbolinks: false } %></p>
        <p><%= mail_to "lee@climbconnect.com", "Say Hello", class: "btn btn-filter btn-large" %></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="hidden-xs">
      <br>
      <br>
      <br>
      <br>
    </div>
    <%= image_tag("https://s3-us-west-2.amazonaws.com/climbconnect-assets/backgrounds/Asset+19.png" ,width: '100%', height: '100%') %>
  </div>

</div>
</div>
