<script>
$('.navbar').css('background-color', 'transparent');
$(document).ready(function(){
   var scroll_start = 0;
   var startchange = $('#startchange');
   var offset = startchange.offset();
    if (startchange.length){
   $(document).scroll(function() {
      scroll_start = $(this).scrollTop();
      if(scroll_start > offset.top) {
          $(".navbar").css('background-color', 'rgba(0,0,0,.8)');
       } else {
          $('.navbar').css('background-color', 'transparent');
       }
   });
    }
});

$('#hamburger').click(function() {
    $('.navbar').css({
        'background-color': 'rgba(0,0,0,.8)',
    });
});
</script>

<meta name="description" content="Manage routesetting and track your climbing with Climb Connect.  Start today!" />
<meta name="keywords" content="routesetting route setting climbing gym climb tracker gym management" />

<div class="home-body">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="50000">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="hidden-xs">
      <%= image_tag("homepage-chalkbag-logo.jpg", alt: "hello", class: "img-responsive") %>
      </div>
      <div class="hidden-sm hidden-md hidden-lg">
      <%= image_tag("cc_chalkbag.jpg", alt: "hello", class: "img-responsive") %>
      </div>
      <div class="carousel-caption">

        <% unless user_signed_in? %>

        <%= link_to "Join", new_user_registration_path, class: "btn btn-join btn-lg" %>
        <%= link_to "sign in", new_user_session_path, class: "btn btn-signin btn-lg" %>

        <% end %>

      <% if user_signed_in? %>
        <% if FacilityRole.where(email: current_user.email, user_id: nil).count > 0 %>
          <div class="center">
            <p>You have <%= FacilityRole.where(email: current_user.email, user_id: nil).count %> pending <%= "invite".pluralize(FacilityRole.where(email: current_user.email, user_id: nil).count ) %> </p>

          <%= link_to "confirm", inbox_user_path(current_user), class: "btn btn-signin btn-lg" %>
          </div>
        <% else %>

        <%= link_to "climbers", user_path(current_user), class: "btn btn-join btn-lg" %>
        <%= link_to "gym owners", new_admin_facility_path, class: "btn btn-signin btn-lg" %>

        <% end %>

      <% end %>


      </div>
    </div>

  </div>
</div>


<div id="features"></div>
<div class="container-fluid">
  <br>
  <div class="col-sm-5 hidden-xs">
    <br>
    <%= image_tag("route-setter.jpg" ,width: '100%', height: '100%') %>
  </div>
  <div class="col-sm-7">
    <div class="hero-unit">
      <h1>Route Setters First</h1>
      <p>We're building Climb Connect with route setters in mind first.
        We've worked with some of the best in the industry to make sure it creates value in their everyday workflow.  It's about staying organized, managing your team, and staying connected.  And ultimately, we want
        Climb Connect to be the standard that climbers use, too.  They'll be able to track ascents, keep projects lists, post videos, and interact with other climbers, all based on the routes you're setting.
        Get started today.  #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Pre-Launch Access »", new_admin_facility_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% else %>
        <p><%= link_to "Pre-Launch Access »", new_user_registration_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right" %></p>
    </div>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
    <br>
    <%= image_tag("route-setter.jpg" ,width: '100%', height: '100%') %>
  </div>
</div>

<div class="home-divider-line"></div>

<div class="container-fluid">
  <div class="col-sm-6">
    <div class="hero-unit">
        <h1>Analytics</h1>
        <p>You don't need an MBA to be an analytics pro.  Show off your work and impress your boss with Climb Connect analytics. #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Pre-Launch Access »", new_admin_facility_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% else %>
        <p><%= link_to "Pre-Launch Access »", new_user_registration_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right" %></p>
    </div>
  </div>
  <div class="col-sm-6">
    <br>
    <br>
    <%= render 'static_pages/gradedist_boulder' %>
  </div>
</div>

<div class="home-divider-line"></div>

<div class="container-fluid">
  <br>
  <div class="col-sm-5 hidden-xs">
    <br>
    <%= render 'static_pages/route_list' %>
  </div>
  <div class="col-sm-7">
    <div class="hero-unit">
        <h1>Route Database</h1>
        <p>Unlimited storage in a helpful and easy to use database.  Add routes and upload photos from your mobile with only a few taps.  Strip routes and create maintenance tasks based on specific routes. #setsmart </p>

        <% if current_user.present? %>
        <p><%= link_to "Pre-Launch Access »", new_admin_facility_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% else %>
        <p><%= link_to "Pre-Launch Access »", new_user_registration_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right" %></p>
      </div>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
      <br>
      <%= render 'static_pages/route_list' %>
    </div>
  </div>

  <div class="home-divider-line"></div>

  <div class="container-fluid">
    <div class="col-sm-8">
      <div class="hero-unit">
          <h1>Customize Your Facility</h1>
          <p>Set up custom grading scales and organize your facility by zones. Create targets and maximize your route setting potential in each area of your gym. #setsmart</p>
          <% if current_user.present? %>
          <p><%= link_to "Pre-Launch Access »", new_admin_facility_path, class: "btn btn-create btn-large pull-right tab" %></p>
          <% else %>
          <p><%= link_to "Pre-Launch Access »", new_user_registration_path, class: "btn btn-create btn-large pull-right tab" %></p>
          <% end %>
          <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right" %></p>
      </div>
    </div>
    <div class="col-sm-4">
      <br>
      <br>
      <%= render 'static_pages/walldist' %>
    </div>

  </div>


<div class="home-divider-line"></div>

<div class="container-fluid">
  <div class="col-sm-6 hidden-xs">
    <br>
    <%= render 'static_pages/task_list' %>
  </div>
  <div class="col-sm-6">
    <div class="hero-unit">
        <h1>Get Things Done</h1>
        <p>Have your day planned before you get out of bed.  Create and assign tasks, manage your team, and stay organize. Strip entire zones and bulk create route setting tasks based on targets that you set. #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Pre-Launch Access »", new_admin_facility_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% else %>
        <p><%= link_to "Pre-Launch Access »", new_user_registration_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right" %></p>
    </div>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
    <br>
    <%= render 'static_pages/task_list' %>
  </div>
</div>

<div class="home-divider-line"></div>

<div class="container-fluid">
  <div class="col-sm-8">
    <div class="hero-unit">
        <h1>Talk to us!</h1>
        <p>We don't wear headsets all day, but we do want to make sure you have everything you need to get set up.  Shoot us an email and we'll respond as quickly as we can to make sure you have what you need.  Or better yet, come climb with us if you're in the Denver area! #setsmart</p>
        <% if current_user.present? %>
        <p><%= link_to "Pre-Launch Access »", new_admin_facility_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% else %>
        <p><%= link_to "Pre-Launch Access »", new_user_registration_path, class: "btn btn-create btn-large pull-right tab" %></p>
        <% end %>
        <p><%= link_to "See Demo", admin_facility_path(Facility.where(demo: true).first), class: "btn btn-demo btn-large pull-right" %></p>
        <p><%= mail_to "lee@climbconnect.com", "Say Hello", class: "btn btn-close btn-large" %></p>
    </div>
  </div>
  <div class="col-sm-4">
    <br>
    <br>
    <%= image_tag("cc-logo-hashtag.png" ,width: '100%', height: '100%') %>
  </div>

</div>
</div>
