<div id="route_form">
<%= form_for [:admin, @facility, @route], :html => {:class => "form-label", :multipart => true, :id => 'routeForm' }, remote: true do |f| %>
<%= render 'shared/error_messages', object: f.object %>


<div class="gray-labels">
  <br>
  <div class="bg-gray">
    <% if (@facility_role_access.present? && @facility_role_access.name == 'guest') || (@facility_role_access.present? && @facility_role_access.name == 'setter') %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>
    </div>

    <% else %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.label :user_id, "Setter*" %>
        <div class="route-form">
          <div id="donate">
            <% @facilitysetters.each do |fs| %>
              <label class="blue"><%= f.radio_button :user_id, fs[1], params[:assignee_id].to_i == fs[1].to_i ? { checked: true } : {checked: f.object.user_id.eql?(fs[1].to_i) }  %>
                <span><%= fs[0] %></span>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :name, "Route name" %>
          <%= f.text_field :name, params[:name] ? { :value=> params[:name], class: 'form-control' } : { value: f.object.name, class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :color_hex, "Color* " %><%= link_to " manage colors", admin_facility_custom_colors_path(@facility) %>
          <div class="route-form">
            <div id="donate">
              <div id="donate-colors">
                <% (color_options + custom_color_options(@facility) ).each do |fs| %>
                  <% if fs[1] == '#F9F9F8' %><label style="background-color:<%= fs[1] %>; color: #444 ">
                    <% else %><label style="background-color:<%= fs[1] %>; color: #fff ">
                      <% end %>
                    <%= f.radio_button :color_hex, fs[1], params[:color_hex] == fs[1] ? { checked: true } : {checked: f.object.color_hex.eql?(fs[1]) }  %>
                    <span><%= fs[0] %></span>
                  </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :color, "Color Description" %>
          <%= f.text_field :color, params[:color] ? {value: params[:color], class: 'form-control' } : {value: f.object.color, class: 'form-control' }  %>
        </div>
      </div>




      <div class="row">
        <div class="col-xs-12">
          <%= f.label :grade_id, "Grade*" %>
          <div class="route-form">
            <div id="donate">
              <% facility_systems.each do |fs| %>
                <label class="gray"><%= f.radio_button :grade_system_virtual, fs.id, Grade.where(id: params[:grade_id].to_i, grade_system_id: fs.id).first ? { checked: true } : {checked: f.object.grade_id.to_i.eql?(Grade.where(id: f.object.grade_id.to_i, grade_system_id: fs.id.to_i).first.try(:id)) } %>
                  <span><%= fs.name %></span>
                </label>
                <div class="grade-">
                  <div id="grade_system_<%= fs.id %>">
                    <div class="route-form">
                      <div id="donate">
                        <% Grade.where(grade_system_id: fs.id).each do |fsg| %>
                            <label class="blue"><%= f.radio_button :grade_id, fsg.id, params[:grade_id].to_i == fsg.id.to_i ? { checked: true } : {checked: f.object.grade_id.to_i.eql?(fsg.id.to_i) } %>
                              <span><%= fsg.grade %></span>
                            </label>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-xs-12">
          <div id="grade_render">
          </div>
        </div>
      </div>




    <div class="row">
      <div class="col-xs-12">
        <%= f.label :zone_id, "Zone" %>
        <div class="route-form">
          <div id="donate">
            <% @facilityzones.each do |fs| %>
              <label class="gray"><%= f.radio_button :zone_id, fs[1], params[:zone_id].to_i == fs[1].to_i ? { checked: true } : {checked: f.object.zone_id.eql?(fs[1].to_i) } %>
                <span><%= fs[0] %></span>
              </label>
              <div class="walls">
                <div id="zone_wall_<%= fs[1] %>">
                  <div class="route-form">
                    <div id="donate">
                        <% Wall.where(zone_id: fs[1]).each do |fsg| %>
                            <label class="blue"><%= f.radio_button :wall_id, fsg.id, params[:wall_id].to_i == fsg.id.to_i ? { checked: true } : {checked: f.object.wall_id.eql?(fsg.id) } %>
                              <span><%= fsg.name %></span>
                            </label>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-12">
        <div id="wall_render">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div id="sub_zone_render">
        </div>
      </div>
    </div>



      <div class="row">
        <div class="col-xs-6">
          <%= f.label :setdate, "Set Date*" %>
          <% if params[:action] == "edit" %>
            <%= f.date_field :setdate, class: 'form-control' %>
          <% else %>
            <%= f.date_field :setdate, :value => Date.current , class: 'form-control' %>
          <% end %>

        </div>
        <div class="col-xs-6">
          <%= f.label :enddate, "End Date" %>
          <% if params[:action] == "edit" %>
            <%= f.date_field :enddate, class: 'form-control' %>
          <% elsif @facility.days_from_start_date.nil? %>
            <%= f.date_field :enddate, :value => nil , class: 'form-control' %>
          <% else %>
            <%= f.date_field :enddate, :value => @facility.days_from_start_date.days.from_now.strftime('%Y-%m-%d'), class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= f.label :image,"Photo" %>
          <%= f.file_field :image, {class: 'form-control'}  %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= image_tag @route.image.url(:thumb) if @route.image.exists? %>
        </div>
      </div>
      <br>




      <button class="btn btn-close" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Additional details...
      </button>
      <div class="row">
        <br>
        <br>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :description, "Description" %>
              <%= f.text_area :description, class: 'form-control', placeholder: "Description (optional)", rows: "2" %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <%= f.label :sub_child_zone_id, "Sub-child zone" %>
              <%= f.grouped_collection_select(:sub_child_zone_id, Wall.where(facility_id: @facility.id) , :sub_child_zones, :name, :id, :name,
              { include_blank: 'Select sub-child zone' },
              {class: "form-control"}) %>
            </div>
          </div>

          <div class="row">


            <div class="col-md-4">
              <%= f.label :risk, "Risk" %>
              <%= f.select(:risk, @r_value ,{ include_blank: false },
              {class: "form-control"}) %>
            </div>

            <div class="col-md-4">
              <%= f.label :intensity, "Intensity" %>
              <%= f.select(:intensity, @i_value ,{ include_blank: false },
              {class: "form-control"}) %>
            </div>


            <div class="col-md-4">
              <%= f.label :complexity, "Complexity" %>
              <%= f.select(:complexity, @c_value ,{ include_blank: false },
              {class: "form-control"}) %>
            </div>
        </div>

        </div>
      </div>

      <%= f.hidden_field :task_id, params[:task_id] ? { :value => params[:task_id] } : { :value => nil } %>


      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Save", class: "btn btn-save" %>
        </div>
      </div>
    </div>
</div>

<% end %>
</div>
