
<br/>
<div class="col-sm-12">
  <%= form_for [:admin, @facility, @route], :html => {:class => "form-label"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :name, "Route info" %>
          <%= f.text_field :name, class: 'form-control', placeholder: "Route name (optional)" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :color,"Color*" %>
          <%= f.text_field :color, class: 'form-control', placeholder: "Route color" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :grade_id,"Grade*" %>
          <%= f.grouped_collection_select(:grade_id, facility_systems , :grades, :name, :id, :grade,
          { include_blank: 'Select grade' },
          {class: "form-control"}) %>
        </div>
      </div>

      <% if @facility_role_access.present? && @facility_role_access.name == "setter" %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.hidden_field :setter_id, :value => current_user.id %>
        </div>
      </div>

      <% else %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :setter_id,"Setter*" %>
          <%= f.select(:setter_id, @facilitysetters,
          { include_blank: 'Select setter' },
          {class: "form-control"}) %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-sm-12">
          <%= f.label :zone_id, "Zone" %>
          <%= f.select(:zone_id, @facilityzones,
          { include_blank: 'Select primary zone' },
          {class: "form-control"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :wall_id, "Sub-zone" %>
          <%= f.grouped_collection_select(:wall_id, Zone.where(facility_id: @facility.id) , :walls, :name, :id, :name,
          { include_blank: 'Select child zone' },
          {class: "form-control"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :sub_child_zone_id, "Sub-child zone" %>
          <%= f.grouped_collection_select(:sub_child_zone_id, Wall.where(facility_id: @facility.id) , :sub_child_zones, :name, :id, :name,
          { include_blank: 'Select sub-child zone' },
          {class: "form-control"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.label :setdate, "Set Date*" %>
          <% if params[:action] == "edit" %>
            <%= f.date_field :setdate, class: 'form-control' %>
          <% else %>
            <%= f.date_field :setdate, :value => Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>
          <% end %>

        </div>
        <div class="col-sm-6">
          <%= f.label :enddate, "End Date" %>
          <% if params[:action] == "edit" %>
            <%= f.date_field :enddate, class: 'form-control' %>
          <% else %>
            <%= f.date_field :enddate, :value => 40.days.from_now.strftime('%Y-%m-%d'), class: 'form-control' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.label :description, "Say something about the route" %>
          <%= f.text_area :description, class: 'form-control', placeholder: "Description (optional)", rows: "2" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.submit "Save", class: "btn btn-save" %>
        </div>
      </div>
    <br/>
  <% end %>
</div>
