<div id="filterrific_results_admin">
  <div class="row">
    <div class="col-xs-12">
      <div class="routelist">
      <h2><%= page_entries_info @routes  %>
      <% if filter_results_count > 0 %>
        (<%= filter_results_count.to_s + ' filter'.pluralize(filter_results_count) + ' applied' %>)
      <% end %>
      </h2>
    </div>
      <br>
      <br>
    </div>

  </div>
  <% @routes.each do |f| %>
  <ol class="routelist routelist-dark">


      <li>



  <div class="list-color-circle", style="background-color: <%= f.color_hex %>"><span class="text"><%= "" %></span></div>


      <%= link_to admin_facility_route_path( f.facility, f) do %>
    <span>
      <div class="container-fluid">
        <div class="row doubletab">
          <div class="col-sm-9 col-xs-7">
            <% if params[:facility_id].present? %>
            <h3><strong>
              <% if f.color? %>
                <%= f.grade.grade + " "+ f.color.upcase if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= f.grade.grade if f.grade %>
              <% else %>
                <%= f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase if f.grade %>
              <% end %>
            </strong></h3>

            <% else %>
            <h3><strong>
              <% if f.color? %>
                <%= f.grade.grade + " "+ f.color.upcase if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= f.grade.grade if f.grade %>
              <% else %>
                <%= f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase if f.grade %>
              <% end %>
            </strong></h3>
            <% end %>


          </div>
          <div class="col-sm-3 col-xs-5">
              <%= render 'admin/routes/expire_buttons', f: f %>
          </div>

        </div>
        <div class="row doubletab">
          <div class="col-sm-9 col-xs-7">
            <h2> <%= f.name if f.name %> <%= "#" + f.id.to_s %></h2>
          </div>
        </div>


        <div class="row">

          <div class="col-sm-12">
              <div><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %></div>
          </div>
          <div class="col-xs-12 col-sm-12">
            <div><%= f.user.name if f.user %></div>
          </div>
          <div class="col-xs-12 col-sm-12">

            <% if (f.enddate.present?) && (f.enddate < Date.current) %>
              <i class="fa fa-window-close red" aria-hidden="true"></i> expired <%= f.enddate.strftime("%b %d, %Y") %>
            <% else %>

                <% unless params[:controller] == 'admin/tasks' %>
                  <% if (days_ago(f) == "today") %>
                    <span>set <%= days_ago(f) %></span>
                  <% else %>
                    set <%= days_ago(f) %> ago
                  <% end %>
                <% else %>
                  <% if f.setdate? %>
                  due on <%= f.setdate.strftime("%b %d, %Y") %>
                  <% end %>
                <% end %>
              <% end %>


          </div>
        </div>
      </span>
      <% end %>










    </li>
  </ol>



  <% end %>

  <%= paginate @routes %>
</div>
