<div id="filterrific_results_admin">
  <div class="row">
    <div class="col-xs-8">
      <%= page_entries_info @routes  %>
    </div>
    <div class="col-xs-4">
      <span class="pull-right">
        <%= link_to(
          'Reset filters',
          reset_filterrific_url
        ) %>
      </span>
    </div>
  </div>

  <br />

  <%= div_for(@routes) do |f| %>
  <ol class="routelist">
    <div class="divider-line"></div>


    <% if ["light", "dark", "neon", "hot"].include?(f.color.split(/\W+/).first.downcase.to_s) %>
      <li class="<%= f.color.split(/\W+/).second.downcase.to_s %>">

      <% else %>

      <li class="<%= f.color.split(/\W+/).first.downcase.to_s %>">

      <% end %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-7 col-lg-7 col-xl-7">
            <h3>
              <%= link_to f.grade.grade + " "+ f.color.upcase , admin_facility_route_path(@facility, f) %>
            </h3>
            <h2> <%= f.name %></h2>
          </div>


          <div class="hidden-xs hidden-sm no-print">
            <div class="col-md-2">
              <% if f.active? %>
                <%= button_to "expire",  expire_admin_facility_route_path(@facility, f ), class: 'btn btn-expire btn-xs', method: :expire, remote: true %>
              <% else %>
                <%= button_to "expired",  expire_admin_facility_route_path(@facility, f ), class: 'btn btn-expired btn-xs', method: :expire, remote: true %>
              <% end %>
            </div>

            <div class="col-md-2 no-print">
              <% if f.tagged? %>
              <%= button_to untagged_admin_facility_route_path(@facility, f ), class: 'btn btn-tagged btn-xs', remote: true, method: :untagged do %>
                    <i class="glyphicon glyphicon-ok"></i> tagged
                    <%end %>
              <% else %>
              <%= button_to "tag",  tagged_admin_facility_route_path(@facility, f ), class: 'btn btn-tag btn-xs', method: :tagged, remote: true %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-1 no-print">
              <h3><%= link_to edit_admin_facility_route_path(@facility, f ) do %>
                <i class="glyphicon glyphicon-cog"></i>
              <%end %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="tab"><strong>Route ID: </strong><%= f.id %></div>

          </div>
          <div class="col-sm-12">
              <div class="tab"><strong>Location: </strong><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %> > <%= f.sub_child_zone.name if f.sub_child_zone %></div>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-8">
            <div class="tab"><strong>Set by: </strong><%= f.user.name %></div>
          </div>
          <div class="col-xs-6 col-sm-4 col-md-4">
            <div class="tab text-right">



              <% if (days_ago(f) == "today") %>
                <span class="badge badge-today">set <%= days_ago(f) %></span>
              <% else %>
                set <%= days_ago(f) %> ago
              <% end %>

              <% if f.user.image? %>
                <%= image_tag f.user.image ,:class=> "img-setter-icon" %>
              <% elsif f.user.avatar_file_name? %>
                <%= image_tag f.user.avatar.url(:thumb), class: "img-setter-icon" %>
              <% end %>



            </div>
          </div>
        </div>

        <div class="row">

          <div class="hidden-md hidden-lg hidden-xl no-print">
            <br/>
            <div class="col-xs-6 col-sm-6">
              <% if f.active? %>
                <%= button_to "expire",  expire_admin_facility_route_path(@facility, f ), class: 'btn btn-expire btn-xs', method: :expire, remote: true %>
              <% else %>
                <%= button_to "expired",  expire_admin_facility_route_path(@facility, f ), class: 'btn btn-expired btn-xs', method: :expire, remote: true %>
              <% end %>
            </div>

            <div class="col-xs-6 col-sm-6 no-print">
              <% if f.tagged? %>
              <%= button_to untagged_admin_facility_route_path(@facility, f ), class: 'btn btn-tagged btn-xs btn-block', method: :untagged, remote: true do %>
                    <i class="glyphicon glyphicon-ok"></i> tagged
                    <%end %>
              <% else %>
              <%= button_to "tag",  tagged_admin_facility_route_path(@facility, f ), class: 'btn btn-tag btn-xs', method: :tagged, remote: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>

  <%= paginate @routes %>
</div>
