<%= form_for [:admin, @facility, @route], :html => {:class => "form-label", :multipart => true } do |f| %>

<div class="col-sm-12">
    <%= render 'shared/error_messages', object: f.object %>

    <% if params[:controller] == 'admin/tasks' %>
    <%= render 'admin/routes/task_form', object: f.object %>
    <% end %>

      <div class="row">
        <div class="col-xs-12">
          <%= f.label :name, "Route name" %>
          <%= f.text_field :name, params[:name] ? { :value=> params[:name], class: 'form-control' } : { :value=> f.object.name, class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :color,"Color*" %>
          <%= f.text_field :color, params[:color] ? { :value=> params[:color], class: 'form-control' } : { :value=> f.object.color, class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :grade_id,"Grade*" %>
          <%= f.grouped_collection_select(:grade_id, facility_systems , :grades, :name, :id, :grade,
          params[:grade_id] ? { :selected => params[:grade_id] } : { include_blank: 'Select grade' },
          {class: "form-control"}) %>
        </div>
      </div>


      <%= f.hidden_field :task_id, params[:task_id] ? { :value => params[:task_id] } : { :value => nil } %>


      <% if (@facility_role_access.present? && @facility_role_access.name == 'guest') || (@facility_role_access.present? && @facility_role_access.name == 'setter') %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>
      </div>


      <% else %>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :user_id, "Setter*" %>
          <%= f.select(:user_id, @facilitysetters,
          params[:assignee_id] ? { :selected => params[:assignee_id] } : { include_blank: 'Select setter' },
          {class: "form-control"}) %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12">
          <%= f.label :zone_id, "Zone" %>
          <%= f.select(:zone_id, @facilityzones,
          params[:zone_id] ? { :selected => params[:zone_id] } : { include_blank: 'Select primary zone' },
          {class: "form-control"}) %>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <%= f.label :wall_id, "Sub-zone" %>
          <%= f.grouped_collection_select(:wall_id, Zone.where(facility_id: @facility.id) , :walls, :name, :id, :name,
          params[:wall_id] ? { :selected => params[:wall_id] } : { include_blank: 'Select sub-zone' },
          {class: "form-control"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= f.label :sub_child_zone_id, "Sub-child zone" %>
          <%= f.grouped_collection_select(:sub_child_zone_id, Wall.where(facility_id: @facility.id) , :sub_child_zones, :name, :id, :name,
          params[:sub_child_zone_id] ? { :selected => params[:sub_child_zone_id] } : { include_blank: 'Select sub-child zone' },
          {class: "form-control prepopulated"}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <%= f.label :setdate, "Set Date*" %>
          <% if params[:action] == "edit" %>
            <%= f.date_field :setdate, class: 'form-control' %>
          <% else %>
            <%= f.date_field :setdate, :value => Date.current , class: 'form-control' %>
          <% end %>

        </div>
        <div class="col-xs-6">
          <%= f.label :enddate, "End Date" %>
          <% if params[:action] == "edit" %>
            <%= f.date_field :enddate, class: 'form-control' %>
          <% elsif @facility.days_from_start_date.nil? %>
            <%= f.date_field :enddate, :value => nil , class: 'form-control' %>
          <% else %>
            <%= f.date_field :enddate, :value => @facility.days_from_start_date.days.from_now.strftime('%Y-%m-%d'), class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, params[:description] ? { :value=> params[:description], class: 'form-control', placeholder: "Description (optional)", rows: "2" } : { :value=> f.object.description, class: 'form-control', placeholder: "Description (optional)", rows: "2" }  %>
        </div>
      </div>

      <div class="form-gray">
        <h1>Additional Details</h1>
      </div>
      <div class="row">
          <div class="col-md-4">
            <%= f.label :risk, "Risk" %>
            <%= f.select(:risk, @r_value ,{ include_blank: false },
            {class: "form-control"}) %>
          </div>

          <div class="col-md-4">
            <%= f.label :intensity, "Intensity" %>
            <%= f.select(:intensity, @i_value ,{ include_blank: false },
            {class: "form-control"}) %>
          </div>


          <div class="col-md-4">
            <%= f.label :complexity, "Complexity" %>
            <%= f.select(:complexity, @c_value ,{ include_blank: false },
            {class: "form-control"}) %>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= image_tag @route.image.url(:thumb) if @route.image.exists? %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= f.submit "Save", class: "btn btn-save" %>
        </div>
      </div>
    <br/>
</div>
<% end %>
