<div id="filterrific_results">
  <div class="row">
    <div class="col-md-12">
      <%= page_entries_info @recentroutes  %>
    </div>
  </div>

  <table class="table table-hover table-condensed">
      <%= div_for(@recentroutes) do |r| %>
      <tr>
        <td><%= button_to r.id, admin_facility_route_path(@facility, r ), :class => 'btn btn-default btn-xs', method: :get %></td>
        <td><%= r.grade.grade if r.grade %></td>
        <td><%= r.color %></td>
        <td><%= r.setter.nick_name if r.setter %></td>
        <td><%= button_to "edit",  edit_admin_facility_route_path(@facility, r ), class: 'btn btn-default btn-xs', method: :get %></td>
     </tr>
    <% end %>
  </table>
</div>
