<%= div_for(route) do |r| %>


  <tr>
    <td><%= r.zone.name if r.zone %></td>
    <td><%= r.wall.name if r.wall %></td>
    <td><%= r.grade.grade %></td>
    <td><%= r.name %></td>
    <td><%= r.color %></td>
    <td><%= r.setter %></td>
    <td><%= r.setdate %></td>
    <td><%= r.enddate %></td>
    <td><%= link_to "edit",  edit_admin_facility_route_path(@facility, route ) %></td>
    <td><%= link_to "delete", admin_facility_route_path(@facility, route) , method: :delete %></td>
   </tr>
<% end %>
