<%= div_for(route) do %>
<tr>


    <td><%= route.zone_id %></td>
    <td><%= route.wall_id %></td>
    <td><%= route.grade_id %></td>
    <td><%= route.name %></td>
    <td><%= route.color %></td>
    <td><%= route.setter %></td>
    <td><%= route.setdate %></td>
    <td><%= route.enddate %></td>

    <td><%= link_to 'edit', "#" %></td>
 </tr>
<% end %>
