<% provide(:title, @facility.name ) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <%= render 'facilities/facility_stats', object: @facility %>
          <%= render 'facilities/top10sends', object: @facility %>
          <%= render 'facilities/top10routes', object: @facility %>
          <%= render 'facilities/newest10routes', object: @facility %>
        </div>
        <div class="col-sm-8">
          <div class="row">
              <%= render 'admin/routes/index_partial' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
