<%= div_for(@facilities.where(public: true)) do |f| %>
<ol class="chartlist">
  <li>
    <div class="routelist">
      <div class="container-fluid">
        <div class="row">
          <br/>
          <div class="col-xs-12 col-sm-9">
            <div class="row">
            <h3>
              <%= f.name %>
            </h3>
            </div>
            <div class="row">
              <p><%= f.addressline1 + " " + f.city + ", " + f.state %></p>
            </div>
          </div>


          <div class="col-xs-12 col-sm-3 col-md-3 no-print">
            <div id="use_system_form">
              <% if FacilityRole.where("facility_id = ? and user_id = ?", f.id, @user.id).count > 0 %>
              <%= render 'unjoin_facility', :f => f %>
              <% else %>
              <%= render 'join_facility', :f => f %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
