<br>
<% @facility_roles.each do |f| %>
<ol class="routelist">
  <li style="border: none;">
    <div class="col-sm-12">
      <div class="container-fluid">
        <div class="row">
          <br/>
          <% if f.confirmed? %>
            <% if f.name == 'climber' %>
                <%= link_to facility_path(f.facility_id) do %>

                <div class="col-xs-11 col-sm-11">
                  <div class="row">
                  <h3>
                    <strong><%= f.facility.name %></strong><%= f.facility.location if f.facility.location %>
                  </h3>
                  </div>
                  <div class="row">
                    <p><%= f.name.humanize if f.name %></p>
                  </div>

                </div>
                <% end %>
              <% else %>
              <%= link_to admin_facility_path(f.facility_id) do %>

              <div class="col-xs-11 col-sm-11">
                <div class="row">
                <h3>
                  <strong><%= f.facility.name %></strong><%= f.facility.location if f.facility.location %>
                </h3>
                </div>
                <div class="row">
                  <p><%= f.name.humanize if f.name %></p>
                </div>
              </div>
              <% end %>
            <% end %>
          <% else %>
          <div class="col-xs-11 col-sm-11">
            <div class="row">
              <h3>
                <%= f.email if f.email%>
              </h3>
            </div>
            <div class="row">
              <p><%= f.name.humanize if f.name %></p>
            </div>

          </div>
          <% end %>

          <% if f.name == 'climber' %>
          <div class="col-xs-1 col-sm-1 col-md-1 no-print">
            <h3><%= link_to user_facility_role_path(@user, f),
                        :method => :delete do %>
                        <i class="glyphicon glyphicon-remove"></i>
                        <%end %>
            </h3>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
