<div>
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1><strong>Facilities</strong> </h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="top-10 home-stats facility-list left-margin row">
      <%= form_for_filterrific @filterrific do |f| %>
      <div>
        <br>
            <div class="container-fluid">
              <div class="gray-labels">
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                    <div class="form-group">
                      <%= f.text_field(
                        :facility_search_query,
                        placeholder: " Search by name ...",
                        class: 'filterrific-periodically-observed form-control'
                      )%>
                    </div>
                  </div>

                  <div class="col-xs-6 col-sm-4">
                    <%= f.select(
                      :with_state,
                      @filterrific.select_options[:with_state],
                      { include_blank: 'state' },
                      {class: "form-control"}
                    ) %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <%= link_to "Add new", new_admin_facility_path(@facility) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    <%= render 'facility_roles/facility_list', object: @facilities %>
  </div>
  <%= paginate @facilities %>
  </div>
</div>
