<div class="col-xs-6 col-sm-3 col-md-3 no-print">
  <div class="row">

<%= form_for [@user, @facility_role], remote: false do |fg| %>
    <div><%= hidden_field_tag :name, 'climber' %></div>
    <div><%= hidden_field_tag :facility_id, f.id %></div>
    <div><%= hidden_field_tag :confirmed, true %></div>
    <div><%= hidden_field_tag :email, @user.email %></div>
    <%= fg.submit "follow", class: "btn btn-add btn-md" %>
<% end %>
  </div>

</div>
