<div class="container-fluid bg-dark-gray">

<div class="row left-no-double-margin">

<ol class="resultlist">
  <li>
    <div class="row">

    <div class="col-xs-3">
    </div>
    <div class="col-xs-2">
    <h1>Routes Sent</h1>
    </div>
    <div class="col-xs-2">
    <h1>Routes Flashed</h1>
    </div>
    <div class="col-xs-2">
    <h1>Send Rate</h1>
    </div>
    <div class="col-xs-2">
    <h1>Flash Rate</h1>
    </div>
    <br>
  </div>

  </li>
</ol>


  <% @participants.each do |object| %>
<ol class="resultlist">
  <li>
    <div class="row">
      <div class="col-xs-3">
      <%= object.name %>
      </div>
      <div class="col-xs-2">
        <%= Tick.where(competition_id: @competition.id, user_id: object.id, tick_type: ['redpoint','flash']).select(:route_id).uniq.count %>
      </div>
      <div class="col-xs-2">
        <%= Tick.where(competition_id: @competition.id, user_id: object.id, tick_type: ['flash']).select(:route_id).uniq.count %>
      </div>
      <div class="col-xs-2">
        <%= number_to_percentage((Tick.where(competition_id: @competition.id, user_id: object.id, tick_type: ['redpoint','flash']).select(:route_id).uniq.count.to_f)/(Tick.where(competition_id: @competition.id, user_id: object.id).select(:route_id).uniq.count.to_f)*100, precision: 0) %>

      </div>
      <div class="col-xs-2">
        <%= number_to_percentage((Tick.where(competition_id: @competition.id, user_id: object.id, tick_type: ['flash']).select(:route_id).uniq.count.to_f)/(Tick.where(competition_id: @competition.id, user_id: object.id).select(:route_id).uniq.count.to_f)*100, precision: 0) %>

      </div>
    </div>
  </li>
</ol>
    <% end %>

  </div>
</div>
