<script type="text/javascript">
$(document).bind("ajaxStart", function(){
   $("#spinner").removeClass('hidden');
   $("#donate").addClass('blur-out');
 })

 $(document).bind("ajaxComplete", function(){
   $("#spinner").addClass('hidden');
   $("#donate").removeClass('blur-out');

 });
 </script>
<div id="filterrific_user_public_results">


    <div class="row">
      <%= render 'competitions/comp_stats', object: @competition %>
    </div>

      <div class="row">
        <div class="col-sm-12">

        <div class="top-10 home-stats row no-margin">
          <br>
          <%= render 'competitions/comp_user_stats_partial', object: @users %>
        </div>
      </div>
    </div>


    <div class="competition-about">
      <div class="row">
      <div class='col-sm-6'>
        <br>

        <%= image_tag @competition.logo_image.url(:medium) %>

      </div>

      <div class='col-sm-6'>

        <br>
        <h2>Description</h2>

        <%= @competition.description %><br><br>
        <h2><i class="fa fa-calendar" aria-hidden="true" style="color: #bbb;"></i> Dates</h2>
        <%= @competition.start_date.strftime("%a, %b %d, %Y") %> to <%= @competition.end_date.strftime("%a, %b %d, %Y") %>
        <br>
        <br>
        <h2><i class="fa fa-calendar" aria-hidden="true" style="color: #bbb;"></i> Registration Opens</h2>
        Now
        <br>
        <br>
        <h2><i class="fa fa-dollar" aria-hidden="true" style="color: #bbb;"></i> Price</h2>
        Free
        <br>
        <br>
        <h2><i class="fa fa-group" aria-hidden="true" style="color: #bbb;"></i> Ages</h2>
        All Ages
        <br>



      </div>
    </div>
    </div>
  <br>

<div class="col-xs-12">
  <div class="row route-form">
  <br>
  <%= form_for_filterrific @filterrific do |f| %>

              <div id="donate", class="pull-right">
                  <label class="gray"><%= f.check_box :with_expired_only, {:checked=>true}, Date.current, nil %>
                    <span>
                      Active only
                      </span>
                  </label>
              </div>
              <div id="spinner" class="spinner-class hidden" >
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
              </div>

  <% end %>
  <div>
</div>
</div>
</div>

      <%= render( 'competitions/comproute_list', routes: @routes )%>
