<div class="col-sm-12">
  <div class="form-gray">
    <h1>Task info</h1>
  </div>
  <br/>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.label :task_type, "New task type*" %>
        <%= f.select(:task_type, @task_type ,
        params[:task_type] ? { :selected => params[:task_type] } : { include_blank: false },

        {class: "form-control"}) %>
      </div>

      <div class="col-xs-12 col-sm-6">
        <%= f.label :assignee_id, "Assigned to*" %>
        <%= f.select(:assignee_id, @facilitysetters,
        { include_blank: 'Select setter' },
        {class: "form-control"}) %>
        <%= f.hidden_field :assigner_id, :value => current_user.id %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.label :setdate, "Due Date" %>
        <% if params[:action] == "edit" %>
          <%= f.date_field :setdate, class: 'form-control' %>
        <% else %>
          <%= f.date_field :setdate, :value => Date.tomorrow , class: 'form-control' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.label :status, "Task status*" %>
        <%= f.select(:status, @task_status ,{ include_blank: false },
        {class: "form-control"}) %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.label :task_description, "Task Notes" %>
        <%= f.text_area :task_description, class: 'form-control', placeholder: "What do you need done?", rows: "2" %>
      </div>
    </div>

    <div class="form-gray">
      <h1>Route Information (optional)</h1>
      "Routes to be set" tasks can be edited and converted to active routes once set
      <br/>
      <br/>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.label :grade_id,"Grade" %>
        <%= f.grouped_collection_select(:grade_id, facility_systems , :grades, :name, :id, :grade,
        params[:grade_id] ? { :selected => params[:grade_id] } : { include_blank: 'Select grade' },
        {class: "form-control"}) %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.label :color,"Color" %>
        <%= f.text_field :color, :value=> params[:color], class: 'form-control', placeholder: "Route color" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.label :zone_id, "Zone" %>
        <%= f.select(:zone_id, @facilityzones,
        params[:zone_id] ? { :selected => params[:zone_id] } : { include_blank: 'Select primary zone' },
        {class: "form-control"}) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.label :wall_id, "Sub-zone" %>
        <%= f.grouped_collection_select(:wall_id, Zone.where(facility_id: @facility.id) , :walls, :name, :id, :name,
        params[:wall_id] ? { :selected => params[:wall_id] } : { include_blank: 'Select sub-zone' },
        {class: "form-control"}) %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.label :sub_child_zone_id, "Sub-child zone" %>
        <%= f.grouped_collection_select(:sub_child_zone_id, Wall.where(facility_id: @facility.id) , :sub_child_zones, :name, :id, :name,
        params[:sub_child_zone_id] ? { :selected => params[:sub_child_zone_id] } : { include_blank: 'Select sub-child zone' },
        {class: "form-control"}) %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.label :name, "Route name" %>
        <%= f.text_field :name, params[:name] ? { :value=> params[:name], class: 'form-control' } : { placeholder: "Route name (optional)", class: 'form-control' } %>
      </div>
    </div>


    <%= f.hidden_field :route_id, params[:route_id] ? { :value => params[:route_id] } : { :value => nil } %>


    <div class="row">
      <div class="col-xs-12">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: 'form-control', placeholder: "Description (optional)", rows: "2" %>
      </div>
    </div>


  <br/>
</div>
