  <div id="filterrific_results_task_admin">
    <div class="row">
      <div class="col-xs-12">
        <div class="routelist">
          <% if params[:controller] == 'admin/tasks' %>
          <h2><%= page_entries_info @tasks  %>

            <% if task_filter_results_count > 0 %>
              (<%= task_filter_results_count.to_s + ' filter'.pluralize(filter_results_count) + ' applied' %>)
            <% end %>
            <span class="pull-right">
              <%= link_to(
                'Reset filters',
                reset_filterrific_url
              ) %>
            </span>
          </h2>
          <br>
          <% end %>
        </div>
      </div>
    </div>

  <% @tasks.each do |f| %>
  <ol class="routelist routelist-dark">
  <li>



  <div class="list-color-circle", style="background-color: <%= f.color_hex %>"><span class="text"><%= "" %></span></div>


      <%= link_to edit_admin_facility_task_path(@facility, f) do %>
    <span>
      <div class="container-fluid">
        <div class="row doubletab">
          <div class="col-xs-7 col-sm-9">
            <% if params[:facility_id].present? %>
            <h3><strong>
              <% if f.color? %>
                <%= f.grade.grade + " "+ f.color.upcase if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= f.grade.grade if f.grade %>
              <% else %>
                <%= f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase if f.grade %>
              <% end %>
            </strong></h3>

            <% else %>
            <h3><strong>
              <% if f.color? %>
                <%= f.grade.grade + " "+ f.color.upcase if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= f.grade.grade if f.grade %>
              <% else %>
                <%= f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase if f.grade %>
              <% end %>
            </strong></h3>
            <% end %>
            <h3>
              <% unless f.task_type == "route_task" %>
                <span class="glyphicon glyphicon-wrench"></span>

              <% else %>
              <span class="glyphicon glyphicon-calendar"></span>
              <% end %>
            </h3>


          </div>
          <div class="col-xs-5 col-sm-3">
            <span class="pull-right"><%= render(partial: 'admin/tasks/list_buttons', locals: { f: f }) %></span>
          </div>


        </div>
        <div class="row doubletab">
          <div class="col-xs-8">
            <h2> <%= f.name if f.name %> <%= "#" + f.id.to_s %></h2>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-10">
              <div><strong><%= f.facility.name if f.facility %> <%= f.facility.location if f.facility.location %></strong></div>
          </div>


          <div class="col-xs-12">
              <div><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div><%= f.user.name if f.user %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">

            <% if (f.enddate.present?) && (f.enddate < Date.current) %>
              <i class="fa fa-window-close red" aria-hidden="true"></i> expired <%= f.enddate.strftime("%b %d, %Y") %>
            <% else %>

                <% unless params[:controller] == 'admin/tasks' %>
                  <% if (days_ago(f) == "today") %>
                    <span>set <%= days_ago(f) %></span>
                  <% else %>
                    set <%= days_ago(f) %> ago
                  <% end %>
                <% else %>
                  <% if f.setdate? %>
                  due on <%= f.setdate.strftime("%b %d, %Y") %>
                  <% end %>
                <% end %>
              <% end %>

          </div>
        </div>
      </span>
      <% end %>


      <div class="row">
        <div class="col-xs-12">
          <p style="font-size: 1.3em;">
            <%= f.assignee.name if f.assignee_id %>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>

            <%= f.task_description if f.task_description %>
          </span></p>
        </div>
      </div>



        <div class="row">
        </div>





    </li>

  </ol>
  <% end %>

  <%= paginate @tasks %>
</div>
