  <div id="filterrific_results_task_admin">
    <div class="row">
      <div class="col-xs-12">
        <div class="routelist">
          <% if params[:controller] == 'admin/tasks' %>
          <h2><%= page_entries_info @tasks  %>

            <% if task_filter_results_count > 0 %>
              (<%= task_filter_results_count.to_s + ' filter'.pluralize(filter_results_count) + ' applied' %>)
            <% end %>
            <span class="pull-right">
              <%= link_to(
                'Reset filters',
                reset_filterrific_url
              ) %>
            </span>
          </h2>
          <br>
          <% end %>
        </div>
      </div>
    </div>

  <%= div_for(@tasks) do |f| %>
  <ol class="routelist">


    <% if f.color_hex? %>
    <li style="border-left: 15px solid <%= f.color_hex %>">
    <% elsif f.color? %>
      <% if ["light", "dark", "neon", "hot"].include?(f.color.split(/\W+/).first.downcase.to_s) %>
        <li class="<%= f.color.split(/\W+/).second.downcase.to_s %>">
      <% else %>
        <li class="<%= f.color.split(/\W+/).first.downcase.to_s %>">
      <% end %>
    <% else %>
    <li style="border: none;">
    <% end %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-7 col-lg-7 col-xl-7">

            <% unless f.grade_id? %>
            <h3>
              <% unless f.task_type == "route_task" %>
                <span class="glyphicon glyphicon-wrench"></span>
                <%= link_to "MAINTENANCE ITEM" , edit_admin_facility_task_path(@facility, f) if f.task_description %>

                <% else %>
                <span class="glyphicon glyphicon-calendar"></span>
                <%= link_to "NEW ROUTE" , edit_admin_facility_task_path(@facility, f) if f.task_description %>

              <% end %>
            </h3>

            <% else %>

            <h3>
              <% unless f.task_type == "route_task" %>
                <span class="glyphicon glyphicon-wrench"></span>

              <% else %>
              <span class="glyphicon glyphicon-calendar"></span>
              <% end %>

              <% if f.color? %>
                <%= link_to f.grade.grade + " "+ f.color.upcase , edit_admin_facility_task_path(@facility, f) if f.grade %>
              <% elsif (color_name(f.color_hex, @facility)).nil? %>
                <%= link_to f.grade.grade , edit_admin_facility_task_path(@facility, f) if f.grade %>
              <% else %>
                <%= link_to f.grade.grade + " "+ color_name(f.color_hex,@facility)[0].upcase , edit_admin_facility_task_path(@facility, f) if f.grade %>
              <% end %>
            </h3>

            <% end %>

            <h2> <%= f.name %></h2>
          </div>


          <div class="hidden-xs hidden-sm no-print button-links">
            <div class="col-md-2">
              <% if f.task_type == 'route_task'  && f.active? %>
                <%= link_to activate_route_admin_facility_task_path(@facility, f), class: 'btn btn-expire btn-md', method: :activate_route, remote: false do %>
                      create route <i class="glyphicon glyphicon-share-alt"></i>
                      <%end %>
              <% end %>
            </div>

            <div class="col-md-2 no-print">
              <% if f.active? %>
              <%= button_to "mark as done",  complete_task_admin_facility_task_path(@facility, f), class: 'btn btn-expire btn-md', method: :complete_task, remote: true %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-2 col-sm-1 no-print">
              <h3><%= link_to edit_admin_facility_task_path(@facility, f ) do %>
                <i class="glyphicon glyphicon-cog pull-right"></i>
              <%end %>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="task-tab"><strong><% unless params[:controller] == "admin/tasks" %>Route ID: <% else %>Task ID: <% end %></strong><%= f.task_number %></div>

          </div>
          <div class="col-sm-12">
              <div class="task-tab"><strong>Location: </strong><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %> > <%= f.sub_child_zone.name if f.sub_child_zone %></div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="task-tab"><strong>

              <% if params[:controller] == "admin/tasks" %>

              <% if f.assignee_id? %> Assigned to:

              <% end %>

               <% else %>

               Set by:

               <% end %>

             </strong><%= f.assignee.name if f.assignee_id %></div>
          </div>
        </div>

        <% if f.task_description? %>
        <div class="row">
          <div class="col-sm-12">
            <p><span class="task-tab"><%= f.task_description %></span></p>
          </div>
        </div>
        <% end %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="task-task-tab text-right">


              <% unless params[:controller] == 'admin/tasks' %>
                <% if (task_days_ago(f) == "today") %>
                  <% unless f.setdate == Date.current %>
                    due on <%= f.setdate.strftime("%A, %b %d, %Y") %>
                  <% else %>
                  <span class="badge badge-today">due <%= task_days_ago(f) %></span>
                  <% end %>
                <% elsif f.setdate < Date.current %>
                <span class="badge badge-late">due <%= task_days_ago(f) %> ago</span>
                <% else %>
                  due on <%= task_days_ago(f) %>
                <% end %>
              <% else %>
              <% if f.active? %>
                <% if (task_days_ago(f) == "today") %>
                <% if f.setdate == Date.tomorrow %>
                  due tomorrow
                <% else %>
                <span class="badge badge-today">due <%= task_days_ago(f) %></span>
                <% end %>
                  <% elsif f.setdate < Date.current %>
                  <span class="badge badge-late">due <%= task_days_ago(f) %> ago</span>
                <% else %>
                  due on <%= f.setdate.strftime("%A, %b %d, %Y") %>
                <% end %>
              <% elsif f.completed_at?%>
                <span class="glyphicon glyphicon-ok glyphicon-green"></span> Completed on <%= f.completed_at.strftime("%b %d, %Y") %>
              <% end %>
              <% end %>


              <% if f.assignee %>
                <% if f.assignee.image? %>
                  <%= image_tag f.assignee.image ,:class=> "img-setter-icon" %>
                <% elsif f.assignee.avatar_file_name? %>
                  <%= image_tag f.assignee.avatar.url(:thumb), class: "img-setter-icon" %>
                <% else %>
                  <span class="img-setter-icon hidden-xs"><%= f.assignee.name %><span>
                <% end %>
              <% end %>



            </div>
          </div>
        </div>

        <div class="row">

          <div class="hidden-md hidden-lg hidden-xl no-print">
            <br/>
            <div class="col-xs-6 col-sm-6">
              <% if f.task_type == 'route_task'  && f.active? %>
                <%= link_to activate_route_admin_facility_task_path(@facility, f), class: 'btn btn-expire btn-md', method: :activate_route, remote: false do %>
                      create route <i class="glyphicon glyphicon-share-alt"></i>
                      <%end %>
              <% end %>
            </div>

            <div class="col-xs-6 col-sm-6 no-print">
              <% if f.active? %>
              <%= button_to "mark as done",  complete_task_admin_facility_task_path(@facility, f), class: 'btn btn-expire btn-md', method: :complete_task, remote: true %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>

  <%= paginate @tasks %>
</div>

<!-- Modal -->

  <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="newTaskModal"><h4><strong>CLIMB | CONNECT </strong><small><%= @facility.name %> <%= @facility.location if @facility.location %></small></h4></span>
        </div>
        <div class="modal-body row">
          <%= form_for [:admin, @facility, @task], :html => {:class => "form-label"} do |f| %>
            <% if(params[:name]) %>
              <%= render 'admin/tasks/prepopulated_form', :f => f %>
            <% else %>
              <%= render 'admin/tasks/form', :f => f %>
            <% end %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-save" %>
          <button type="button" class="btn btn-close" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
