<% provide(:title, 'Add task') %>

<div class="container-fluid">
  <div class="row">
    <% if params[:route_id] %>

    <%= render(partial: 'routes/route', locals: { f: Route.find(params[:route_id]) }) %>
    <% end %>

    <div class="col-sm-12 bg-routeform">

      <%= form_for [:admin, @facility, @task], :html => {:class => "form-label"} do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

        <%= render 'admin/tasks/form', object: @tasks, :f => f %>
        <br/>
        <div class="row">
          <div class="col-xs-12">
            <%= f.submit "Save", class: "btn btn-save btn-lg" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
