
<% provide(:title, @facility.name ) %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-4 hidden-xs">
            <%= render 'facilities/facility_stats', object: @facility %>
              <%= render 'users/top10sends' %>
              <%= render 'users/top10routes' %>
              <%= render 'users/newest10routes' %>
        </div>
        <div class="col-sm-8">
          <div class="row">
              <%= render 'admin/tasks/new_partial' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
