<% provide(:title, 'Add task') %>

<div class="container-fluid">
  <div class="row">
    <div class="gray-labels routeform-header bg-blue-gradient">
      <h1><strong>Task</strong>Info</h1>
    </div>

    <% if params[:route_id] %>
    <%= render(partial: 'routes/route', locals: { route: Route.find(params[:route_id]) }) %>
    <% end %>
    <br>
    <div class="col-sm-12 bg-routeform">

      <%= form_for [:admin, @facility, @task], :html => {:class => "form-label"} do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

        <%= render 'admin/tasks/form', object: @tasks, :f => f %>
        <br/>
        <div class="row">
          <div class="col-xs-12">
            <%= f.submit "Save", class: "btn btn-save" %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
