<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-sm-6">
      <%= image_tag @user.avatar.url(:thumb) %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.file_field :avatar, {class: 'form-control'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.select :role, options_for_select(roles), class: 'form-control', include_blank: "- Account Type -" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label "Gender (optional)" %>
  <%= f.select( :gender, options_for_select(genders), {include_blank: "Select gender..."}, {class: 'form-control'}) %>

  <%= f.label :zip, "Zip code" %>
  <%= f.text_field :zip, class: 'form-control' %>

  <%= f.submit "Save", class: "btn btn-submit" %>
<% end %>
