<div id="home_user_ticks1">
<script type="text/javascript" charset="utf-8">
  $(function() {
    var perShapeGradient = {
            x1: 1,
            y1: 1,
            x2: 1,
            y2: 0
        };
    new Highcharts.Chart({
      exporting: {
          sourceWidth: 800,
          sourceHeight: 400,

          // scale: 2 (default),
          enabled: false,
          filename: "new_routes",

          buttons: {
                contextButton: {
                    symbolStroke: '#d5d5d5',
                    menuItems: [{
                        text: 'Export to PNG',
                        onclick: function () {
                            this.exportChart({
                                width: 3200
                            });
                        }
                    },{
                        text: 'Export to PDF',
                        onclick: function () {
                            this.exportChart({
                              type: 'application/pdf'
                            });
                        },
                        separator: false
                    },
                  ]
                }
            },
            chartOptions: {
                title: {
                    style: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontFamily: "'Helvetica', sans-serif"
                    }
                },
                subtitle: {
                    text:  "New Routes"
                },
            }

      },
      navigation: {
          buttonOptions: {
              align: 'right',
              verticalAlign: 'bottom',
              y: 32,
              theme: {
                r: '0',
                  states: {
                      hover: {
                          fill: '#a9a9a9',
                          stroke: '#a9a9a9',
                      },
                      select: {
                          fill: '#a9a9a9',
                          stroke: '#a9a9a9',
                      }
                  }
              }
          }
      },
      chart: {
        backgroundColor:'transparent',
        renderTo: "home_user_ticks",
        spacingBottom: 35,
        type: "column",
        style: {
          fontFamily: 'Montserrat',
        }
      },
      title: {
        text: ""
      },
      xAxis: {
        type: "datetime",
        tickInterval: 24 * 3600 * 1000,
        labels: {
          format: '{value: %a}',
          style: {
            color: '#fff'
          },
        },
        tickLength: 0,
        minorTickLength: 0,
      },
      yAxis: [{  // Primary yAxis
        title: {
          text: ""
        },
        labels: {
          enabled: false
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,
        lineColor: 'transparent',
        allowDecimals: false
      },{ // Secondary yAxis
        title: {
          text: ""
        },
        labels: {
          enabled: false
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,
        lineColor: 'transparent',
        allowDecimals: false,
        opposite: true,
      }],
      credits: {
        enabled: false,
        style: {
          fontSize: "12px",
        },
        href: false,
        position: {
          align: "right",
          verticalAlign: "bottom",
          x: -40,
          y: -8,
        }
      },
      tooltip: {
        enabled: true,
      },
      legend: {
        enabled: true,
        layout: 'horizontal',
        align: 'center',

        verticalAlign: 'bottom',
        y: 30,
        floating: true,
        color: "#ffffff",
      },
      setOptions: {
        global : {
            useUTC : false
        }
      },
      plotOptions: {
        areaspline: {
          marker: {
              enabled: false
          }
        },
        column: {
          borderColor: 'transparent',
          grouping: true,
          dataLabels: {
            enabled: true,
            style: {
              textShadow: '0 0 0 black',
              color: '#fff',
              fontFamily: 'Montserrat',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: [{
            linearGradient: perShapeGradient,
            stops: [
                [0, 'rgba(0, 177, 255,.2)'],
                [1, 'rgba(0, 177, 255,0.5)']
                ]
            }, {
            linearGradient: perShapeGradient,
            stops: [
                [0, '#2bb573'],
                [1, '#8cc53f']
                ]
            }, {
            linearGradient: perShapeGradient,
            stops: [
                [0, 'rgb(136, 219, 5)'],
                [1, 'rgb(112, 180, 5)']
                ]},
        ],

      series: [
        {
          name: "Try Hard",
          type: "areaspline",
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <% if @ticks.present? %><%= (@ticks.first.date.at_midnight.to_i * 1000) %> <% end %>,
          data: <% if @ticks.present? %><%= user_ticks_value_chart_series( @ticks, @ticks.first.date ) %> <% end %>
        },
        {
          name: "Ticks",
          yAxis: 1,
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <% if @ticks.present? %><%= (@ticks.first.date.at_midnight.to_i * 1000) %> <% end %>,
          data: <% if @ticks.present? %><%= user_ticks_chart_series( @ticks, @ticks.first.date ) %> <% end %>
        },

        ]
    });
  });
</script>
<div id="home_user_ticks" style="width:100%; height: 150px;"></div>

</div>
