<% @facility_roles.each do |f| %>
<ol class="routelist">
  <li style="border: none;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h3><small>
            <%= f.facility.name %><% if f.facility.location? %> - <%= f.facility.location %> <% end %>
          </small></h3>
        </div>
        <div class="col-sm-2">
        <p> <%= f.name.humanize %></p>
        </div>


        <div class="col-xs-6 col-sm-2">
          <% if f.confirmed? %>
          <p class="pull-right"><i class="glyphicon glyphicon-ok glyphicon-green"></i>  Confirmed</p>
          <% else %>

          <%= button_to "Confirm", confirm_facility_role_path(f), class: 'btn btn-save btn-sm', method: :confirm, remote: false %>
          <% end %>
        </div>

        <div class="col-xs-6 col-sm-2">
          <p class="pull-right"><%= link_to user_facility_role_path(current_user, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                      :method => :delete do %>
                      <i class="glyphicon glyphicon-trash pull-right"></i>
                      <%end %>
          </p>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
