
<%= div_for(@users) do |f| %>
<ol class="chartlist">
  <li>
    <div class="routelist">
      <div class="container-fluid">
        <div class="row">
            <br/>
          <div class="col-sm-4">

            <h3><%= f.name %></h3>

          </div>
          <div class="col-sm-5">
              <p><%= f.email %></p>

          </div>

          <div class="col-sm-2">
            <p><%= f.created_at.strftime("%m-%d-%y") %></p>
          </div>

          <div class="col-xs-1 col-sm-1 col-md-1 pull-right">

            <h3><%= link_to edit_user_path(f) do %>
                        <i class="glyphicon glyphicon-cog"></i>
                        <%end %>

            </h3>
          </div>


          <div class="col-xs-1 col-sm-1 col-md-1">

          </div>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
