<br>
<div class="top-10">
<h1>  top routes</h1>
<ul>
  <% @top_10_routes.each do |route| %>
  <li>
    <strong><%= route.grade.grade if route.grade %></strong> <%= route.facility.name if route.facility %> <strong><%= RatingCache.where(cacheable_id: route.id).first.avg.to_s %></strong>
    <%= image_tag('star-on.png', style: 'height: 16px; text-align: bottom;') %> (<%= RatingCache.where(cacheable_id: route.id).first.qty %>)
  </li>
  <% end %>
</ul>
</div>
