<div id="user-stats">
  <div class="top-10 home-stats row">

    <div class="header bg-top-10">
      <%= link_to home_user_path(current_user) do %>

        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:medium), class: "img-profile" %>
        <% elsif @user.image? %>
          <%= image_tag @user.image ,:class=> "img-profile" %>
        <% else %>
          <%= image_tag @user.avatar.url(:medium), class: "img-profile" %>
        <% end %>
      <% end %>
      <h1><%= @user.name %></h1><br>
  </div>

  <% if @ticks.count > 0 && params[:action] == 'home' %>
    <%= render(
    partial: 'users/home_user_ticks',
    locals: { ticks: @ticks }
    ) %>
  <% end %>


    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive">
        <%= @ticks.total_send_overall_count(@user, "project").length %><span class="text"><%= "ascent".pluralize(@ticks.total_send_overall_count(@user, "project").length) %></span></div>
      </div>
    <% end %>


    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive"><%= @ticks.length %><span class="text"><%= "attempt".pluralize(@ticks.length) %></span></div>
      </div>
    <% end %>

    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive">
          <% if @ticks.present? %>
            <%= number_to_percentage(((@ticks.total_send_overall_count(@user, "project").length.to_f)/(@ticks.length.to_f)*100), precision: 0) %>
          <% else %>
              0
          <% end %>
        <span class="text"><%= "send rate" %></span></div>
      </div>
    <% end %>

    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive">
          <% if @ticks.hardest_send(@user) %>
          <%= @ticks.hardest_send(@user).grade %>
          <% else %>
          N/A
          <% end %>
          <span class="text">hardest</span></div>
      </div>
    <% end %>


      <%= link_to analytics_user_path(@user) do %>
        <div class="circle-wrapper">
          <div class="large-circle responsive"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="text"><%= "Analytics" %></span></div>
        </div>
      <% end %>

      <%= link_to user_ticks_path(@user) do %>
        <div class="circle-wrapper">
          <div class="large-circle responsive"><i class="fa fa-check" aria-hidden="true"></i><span class="text"><%= "Tick List" %></span></div>
        </div>
      <% end %>

    <% if @user == current_user %>

    <%= link_to inbox_user_path(current_user) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-envelope" aria-hidden="true"></i><span class="text"><%= "Mail (" + FacilityRole.where("email = ?", current_user.email ).unconfirmed.count.to_s + ")" %></span></div>
      </div>
    <% end %>

      <%= link_to edit_user_path(current_user) do %>
        <div class="circle-wrapper">
          <div class="large-circle responsive"><i class="fa fa-gears" aria-hidden="true"></i><span class="text"><%= "Settings" %></span></div>
        </div>
      <% end %>
    <% end %>


<% unless params[:action] == 'home' %>
  <div class="hidden-xs">
<% end %>

    <div class="header bg-top-10">
      <h1>user facilities</h1><span class="pull-right"><%= link_to "see all", user_facility_roles_path(current_user) %></span>
    </div>
      <ul>
        <% @userfacilities_check.each do |facility| %>
          <%= link_to facility_path(facility) do %>
            <li>
              <p><%= facility.name %>
                <small><%= (" " + facility.location) if facility.location %></small></p>
                              <br>
              <%= (image_tag(facility.logo_image.url(:medium), class: "img-facility-logo-list-left")) if facility.logo_image%>

              <div class="circle-wrapper">
                <div class="large-circle route-count responsive"><%= facility.routes.current.count %><span class="text"><%= "routes" %></span></div>
              </div>

              <div class="circle-wrapper">
                <div class="large-circle follower-count responsive">
                  <% if FacilityRole.where(facility: facility).count > 0 %>
                    <%= FacilityRole.where(facility: facility).count %>
                  <% else %>
                  0
                  <% end %>

                  <span class="text"><%= "climbers" %></span></div>
              </div>

                <% if FacilityRole.where(user: current_user, facility: facility).where.not(name: 'climber').count > 0 %>

                <%= link_to admin_facility_path(facility) do %>
                  <div class="circle-wrapper">
                    <div class="large-circle right responsive"><i class="fa fa-dashboard" aria-hidden="true"></i><span class="text"><%= " admin" %></span></div>
                  </div>
                <% end %>

                <% end %>
            </li>
          <% end %>
        <% end %>
      <ul>

    <% unless params[:action] == 'home' %>
      </div>
    <% end %>

  </div>
</div>
