<script>
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
</script>
hellow
  <div class="top-10 home-stats bg-home-white row no-margin">


<% unless params[:action] == 'home' %>
  <div class="hidden-xs">
<% end %>

    <div class="top10new">
      <h1>Facilities</h1><span class="pull-right"><%= link_to "see all", user_facility_roles_path(current_user) %></span>
    </div>
      <ul>
        <% @userfacilities_check.each do |facility| %>
          <%= link_to facility_path(facility) do %>
            <li>
              <p><%= facility.name %>
                <% if facility.location %>
                <small><%= (" " + facility.location) if facility.location %></small></p>
                <% end %>
              <br>
              <%= (image_tag(facility.logo_image.url(:medium), class: "img-facility-logo-list-left")) if facility.logo_image%>

              <div class="circle-wrapper">
                <div class="large-circle route-count responsive"><%= facility.routes.current.count %><span class="text"><%= "routes" %></span></div>
              </div>


              <%= link_to "/users?utf8=%E2%9C%93&filterrific%5Buser_search_query%5D=&filterrific%5Bwith_facility%5D=#{ facility.id }&_=1500921306357" do %>
              <div class="circle-wrapper">
                <div class="large-circle follower-count responsive">
                  <% if FacilityRole.where(facility: facility).count > 0 %>
                    <%= FacilityRole.where(facility: facility).count %>
                  <% else %>
                  0
                  <% end %>

                  <span class="text"><%= "climbers" %></span></div>
              </div>
              <% end %>

                <% if FacilityRole.where(user: current_user, facility: facility).where.not(name: 'climber').count > 0 %>

                <%= link_to admin_facility_path(facility) do %>
                  <div class="circle-wrapper">
                    <div class="large-circle right responsive"><i class="fa fa-dashboard" aria-hidden="true"></i><span class="text"><%= " admin" %></span></div>
                  </div>
                <% end %>

                <% end %>
            </li>
          <% end %>
        <% end %>
      <ul>

    <% unless params[:action] == 'home' %>
      </div>
    <% end %>

  </div>
