<div class="row">

  <div class='col-sm-3 col-xs-6 comp-stats-center'>
    <h1><%= Date.current.strftime("%B") + " " + Date.current.strftime("%Y") %></h1>

    <% if @user == current_user %>

    <span class="comp-stat-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
    <%= link_to home_user_path(@user) do %>
      <div class="comp-circle-wrapper">
        <div class="comp-large-circle responsive"><i class="fa fa-home" aria-hidden="true"></i><span class="text">Home</span></div>
      </div>
    <% end %>

    <% else %>
      <span class="comp-stat-icon"><i class="fa fa-home" aria-hidden="true"></i></span>
      <%= link_to user_path(@user) do %>
        <div class="comp-circle-wrapper">
          <div class="comp-large-circle responsive"><i class="fa fa-home" aria-hidden="true"></i><span class="text">Home</span></div>
        </div>
      <% end %>
    <% end %>

  </div>


  <div class='col-sm-3 col-xs-6 comp-stats-center'>

  <span class="comp-stat-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>
  <%= link_to user_ticks_path(@user) do %>
    <div class="comp-circle-wrapper">
      <div class="comp-large-circle responsive">
      <%= @ticks.total_send_overall_count(@user, "project").length %><span class="text"><%= "Ascent".pluralize(@ticks.total_send_overall_count(@user, "project").length) %></span>
    </div>
    </div>
  <% end %>
</div>

<div class='col-sm-3 col-xs-6 comp-stats-center'>
  <span class="comp-stat-icon"><i class="fa fa-flash" aria-hidden="true"></i></span>
  <%= link_to user_ticks_path(@user) do %>
    <div class="comp-circle-wrapper">
      <div class="comp-large-circle responsive">
        <% if @ticks.hardest_send(@user) %>
        <%= @ticks.hardest_send(@user).grade %>
        <% else %>
        N/A
        <% end %>
        <span class="text">Hardest</span>
      </div>
    </div>
  <% end %>
</div>

<div class='col-sm-3 col-xs-6 comp-stats-center'>
  <span class="comp-stat-icon"><i class="fa fa-group" aria-hidden="true"></i></span>
  <%= link_to followers_user_path(@user) do %>
    <div class="comp-circle-wrapper">
      <div class="comp-large-circle responsive"><%= @user.followers.count %><span class="text">Followers</span></div>
    </div>
  <% end %>
</div>
</div>

<br>
