<div id="user-stats" class="center">

    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive">
        <%= @ticks.total_send_overall_count(@user, "project").length %><span class="text"><%= "send".pluralize(@ticks.total_send_overall_count(@user, "project").length) %></span></div>
      </div>
    <% end %>


    <span class="hidden-xs">
    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive"><%= @attempts.length %><span class="text"><%= "attempt".pluralize(@ticks.length) %></span></div>
      </div>
    <% end %>
  </span>

    <%= link_to user_ticks_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive">
          <% if @ticks.present? %>
            <%= number_to_percentage(((@ticks.total_send_overall_count(@user, "project").length.to_f)/(@attempts.length.to_f)*100), precision: 0) %>
          <% else %>
              0
          <% end %>
        <span class="text"><%= "send rate" %></span></div>
      </div>
    <% end %>


      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive" aria-hidden="true" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="We know you tried hard, so we added up your effort on all of your attempts">
          <%= @ticks.tryhard_score %>
          <span class="text"><%= "try hard" %></span>
        </div>
      </div>



  </div>
