<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= render 'users/user_stats' %>
          <div class="hidden-sm hidden-md hidden-lg"><br></div>
        <div class="hidden-xs">
          <%= render 'users/top10sends' %>
          <%= render 'users/top10routes' %>
          <%= render 'users/newest10routes' %>
        </div>
        </div>
        <div class="col-sm-8">
          <% if (@admin_facility_roles.count > 0) && (current_user == @user) %>
            <div class="row">
                <div class="gray-labels routeform-header bg-blue-gradient">
                  <h1> Route Management</h1>
                </div>
                  <%= render 'users/admin_roles' %>
            </div>
          <% end %>

          <% if @route %>
            <div class="row">
                <div class="gray-labels routeform-header bg-blue-gradient">
                  <h1>Discover</h1>
                </div>
            </div>

            <br>
            <div class="row">
              <%= render(
              partial: 'users/featured_route',
              locals: { route: @route }
              ) %>
            </div>
            <br>
          <% end %>

          <div class="row">
              <div class="gray-labels routeform-header bg-blue-gradient">
                <h1>Week Summary</h1>
              </div>
          </div>
          <br>
          <% if @ticks.present? %>
          <div class="row">
            <div class="bg-white">
            <%= render(
            partial: 'ticks/user_ticks',
            locals: { ticks: @ticks }
            ) %>
            </div>
          </div>
          <% end %>

          <br>

          <div class="row">
              <div class="gray-labels routeform-header bg-blue-gradient">
                <h1> NEWS FEED</h1>
              </div>
              <% if @userfacilities_check.count > 0 %>
                <%= render 'users/user_news_feed' %>
              <% elsif @user == current_user %>
              <%= render 'users/no_facility' %>

                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
