<% provide(:title, "Home") %>


<div class="row">
  <%= render 'users/user_stats2' %>
</div>

<%= render 'users/apple_watch_charts' %>





          <% if @annualticks.count > 0 && params[:action] == 'home' %>
            <%= render(
            partial: 'users/home_user_ticks',
            locals: { ticks: @annualticks }
            ) %>

          <% end %>


      <div class="col-sm-12">
        <div class="row">
          <div class="top-10 home-stats no-margin">
            <br>
            <%= render 'users/user_stats_partial', object: @users %>
          </div>
        </div>
      </div>


  <div class="col-sm-12">
    <div class="row">
      <div class="top10new">
        <%= link_to competitions_user_path(@user) do %><h1>Circuits</h1><% end %>
      </div>

      <%= render(
      partial: 'users/complist'
      ) %>

    </div>
  </div>

  <div class="col-sm-12">
    <div class="row">
      <div class="top10new">
        <%= link_to facilities_path do %><h3>Facilities</h3><% end %>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
        <%= render 'users/facility_list' %>
      </div>
    </div>
