<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= render 'users/user_stats' %>
          <div class="hidden-sm hidden-md hidden-lg"><br></div>
        <div class="hidden-xs">
          <%= render 'users/top10sends' %>
          <%= render 'users/top10routes' %>
          <%= render 'users/newest10routes' %>
        </div>
        </div>
        <div class="col-sm-8">
          <% unless @admin_facility_roles.count < 1 %>
            <div class="row">
                <div class="gray-labels routeform-header bg-blue-gradient">
                  <h1> Route Management</h1>
                </div>
                  <%= render 'users/admin_roles' %>
            </div>
          <% end %>

          <div class="row">
              <div class="gray-labels routeform-header bg-blue-gradient">
                <h1> NEWS FEED</h1>
              </div>
              <% unless @userfacilities_check.count < 1 %>
                <%= render 'users/user_news_feed' %>
              <% else %>
              <%= render 'users/no_facility' %>

                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
