<% provide(:title, "Home") %>


<div class="no-margin">
  <%= render 'users/user_stats2' %>
</div>





            <%= render(
            partial: 'users/home_user_ticks',
            locals: { ticks: @ticks }
            ) %>



      <div class="col-sm-12">
        <div class="row">
          <div class="top-10 home-stats row no-margin">
            <br>
            <%= render 'users/user_stats_partial', object: @users %>
          </div>
        </div>
      </div>


  <div class="col-sm-6">
    <div class="row">

      <%= render(
      partial: 'ticks/usergradedist',
      locals: { ticks: @ticks }
      ) %>

    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">

      <%= render(
      partial: 'users/complist'
      ) %>

    </div>
  </div>



      <div class="col-sm-12">
        <div class="row">
          <%= render 'users/facility_list' %>
        </div>
      </div>

    </div>
  </div>
