
  <div class="row">
  </div>

  <br />

  <%= div_for @zones do |f| %>
  <ol class="routelist">
    <li>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-5 col-xs-4">
            <h3><small><%= f.name %></small>
            </h3>
          </div>
          <div class="col-sm-5 col-xs-4">
              <h3><%= f.routes.current.count %>  <small class="hidden-xs">active routes</small></h3>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1">
            <h4><%= link_to edit_admin_facility_zone_path(@facility, f ) do %>
                        <i class="glyphicon glyphicon-cog"></i>
            </h4>            <% end %>
          </div>

          <div class="col-xs-2 col-sm-1 col-md-1">
            <h4><%= link_to admin_facility_zone_path(@facility, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                        :method => :delete do %>
                        <i class="glyphicon glyphicon-trash"></i>
            </h4>            <% end %>
          </div>
        </div>
        <% f.walls.each do |w| %>
        <div class="row">
          <div class="col-sm-5 col-xs-4">
            <p class="tab"><%= w.name %></p>
          </div>
          <div class="col-sm-5 col-xs-4">
            <p><i><%= w.routes.current.count %></i></p>
          </div>
          <div class="col-xs-2 col-sm-1 col-md-1">
            <h4><%= link_to edit_admin_facility_wall_path(@facility, w ) do %>
                        <i class="glyphicon glyphicon-cog"></i>
            </h4>            <% end %>
          </div>

          <div class="col-xs-2 col-sm-1 col-md-1">
            <h4><%= link_to admin_facility_wall_path(@facility, w), data: {:confirm => 'Are you sure? This cannot be undone.'},
                        :method => :delete do %>
                        <i class="glyphicon glyphicon-trash"></i>
            </h4>            <% end %>
          </div>
        </div>
        <div class="row">
          <% w.sub_child_zones.each do |s| %>
            <div class="col-sm-5 col-xs-4">
              <p class="doubletab"><%= s.name %></p>
            </div>
            <div class="col-sm-5 col-xs-4">
              <p><i><%= s.routes.current.count %></i></p>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
              <h4><%= link_to edit_admin_facility_sub_child_zone_path(@facility, s ) do %>
                          <i class="glyphicon glyphicon-cog"></i>
              </h4>            <% end %>
            </div>

            <div class="col-xs-2 col-sm-1 col-md-1">
              <h4><%= link_to admin_facility_sub_child_zone_path(@facility, s), data: {:confirm => 'Are you sure? This cannot be undone.'},
                          :method => :delete do %>
                          <i class="glyphicon glyphicon-trash"></i>
              </h4>            <% end %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </li>
  </ol>
  <% end %>
