  <div class="row">
    <ol class="routelist">
      <div class="col-sm-12">
        <%= link_to admin_facility_zone_path(@facility, fz ) do %>
        <li>
          <div class="col-sm-12 col-xs-12">
            <h3><%= link_to fz.name, admin_facility_zone_path(@facility, fz ) %>
            <small><span class="pull-right"><%= fz.routes.current.count %> active <%= 'route'.pluralize(fz.routes.current.count) %></span></small></h3>
          </div>

          <div class="col-xs-12">
            <div class="divider-line"></div>
          </div>





          <% if params[:action] == 'show' %>
          <div class="col-md-12 col-xs-12">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <% if fz.image.exists? %>
                  <%= image_tag(fz.image.url(:square), class: 'img-zone-list') if fz.image.exists? %>
                <% else %>
                  <%= image_tag("cc_add_photo.jpg", class: 'img-zone-list') %>
                <% end %>
              </div>

            </div>
          </div>

          <% else %>

          <div class="col-md-12 col-xs-12">
            <div class="row">
              <div class="col-sm-3 col-xs-12">
                <% if fz.image.exists? %>
                  <%= image_tag(fz.image.url(:square), class: 'img-zone-list') if fz.image.exists? %>
                <% else %>
                  <%= image_tag("cc_add_photo.jpg", class: 'img-zone-list') %>
                <% end %>
              </div>
              <div class="col-sm-9 col-xs-12">
                <% @facility_systems.each do |fs| %>
                  <% if (facility_system_route_count(fs, fz) > 0) || (facility_system_target_count(fs, fz) > 0) %>
                <%= render 'facilities/zonegradedist_list', :fz => fz, :fs => fs  %>
                <% end %>
              <% end %>
              </div>
            </div>
          </div>

          <% end %>


          <div class="col-md-12 col-xs-12">
            <div class="row">
              <div class="col-xs-6 col-sm-6 pull-right no-print">
                <%= button_to "create tasks",  admin_facility_zone_mass_create_tasks_path(@facility, fz ), class: 'btn btn-expire btn-md', method: :mass_create_tasks, data: {:confirm => 'This will mass create tasks based on your targets in this zone.  Are you sure you want to do this?'} %>
              </div>
              <div class="col-xs-6 col-sm-6 pull-right no-print">
                <%= button_to "expire routes",  admin_facility_zone_mass_expire_path(@facility, fz ), class: 'btn btn-expire btn-md', method: :mass_expire, data: {:confirm => 'Are you sure you want to expire all routes in this zone?'} %>
              </div>
            </div>
          </div>



        </li>
          <% end %>
      </div>
    </ol>
  </div>
