<br>

<% if @zone.routes.current.climb_type("boulder").count > 0 %>
  <div class="circle-wrapper">
    <div class="large-circle responsive"><%= @zone.routes.current.climb_type("boulder").count %><span class="text"><%= "boulder".pluralize(@facility.routes.current.count) %></span></div>
  </div>
<% end %>

<% if @zone.routes.current.climb_type("sport").count > 0 %>
  <div class="circle-wrapper">
    <div class="large-circle responsive"><%= @zone.routes.current.climb_type("sport").count %><span class="text"><%= "route".pluralize(@facility.routes.current.count) %></span></div>
  </div>
<% end %>

<div class="circle-wrapper">
  <div class="large-circle responsive"><%= (total_age(@zone.routes) / @zone.routes.current.count) if @zone.routes.current.count > 0 %><span class="text"><%= "avg. age" %></span></div>
</div>

<%= link_to admin_facility_zone_mass_create_tasks_path(@facility, @zone ), method: :post, data: {:confirm => 'This will mass create tasks based on your targets in this zone.  Are you sure you want to do this?'} do %>
  <div class="circle-wrapper">
    <div class="large-circle responsive"><i class="fa fa-trash" aria-hidden="true"></i>
      <span class="text"><%= "expire all" %></span>
    </div>
  </div>
<% end %>

<%= link_to admin_facility_zone_mass_create_tasks_path(@facility, fz ), method: :post, data: {:confirm => 'This will mass create tasks based on your targets in this zone.  Are you sure you want to do this?'} do %>
  <div class="circle-wrapper">
    <div class="large-circle responsive"><i class="fa fa-check-square-o" aria-hidden="true"></i>
      <span class="text"><%= "new tasks" %></span>
    </div>
  </div>
<% end %>
