<% @zone.walls.each do |w| %>
  <ol class="chartlist">
    <li>
      <div class="routelist">
        <div class="container-fluid">
          <div class="row">
          <br/>
            <div class="col-sm-5 col-xs-6">
              <h3><div class="tab"><%= w.name %></div></h3>
            </div>
            <div class="col-sm-5 col-xs-2">
              <p><%= w.routes.current.count %> routes</p>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1">
              <h3><%= link_to edit_admin_facility_wall_path(@facility, w ) do %>
                          <i class="glyphicon glyphicon-cog"></i>
                          <% end %>
              </h3>
            </div>

            <div class="col-xs-2 col-sm-1 col-md-1">
              <h3><%= link_to admin_facility_wall_path(@facility, w), data: {:confirm => 'Are you sure? This cannot be undone.'},
                          :method => :delete do %>
                          <i class="glyphicon glyphicon-trash"></i>
                          <% end %>
              </h3>
            </div>
          </div>
          <div class="row">
            <% w.sub_child_zones.each do |s| %>
              <div class="col-sm-5 col-xs-6">
                <h3><i><div class="doubletab">> <%= s.name %></div></i></h3>
              </div>
              <div class="col-sm-5 col-xs-2">
                <p><%= s.routes.current.count %> routes</p>
              </div>
              <div class="col-xs-2 col-sm-1 col-md-1">
                <h3><%= link_to edit_admin_facility_sub_child_zone_path(@facility, s ) do %>
                            <i class="glyphicon glyphicon-cog"></i>
                           <% end %>
                </h3>
              </div>

              <div class="col-xs-2 col-sm-1 col-md-1">
                <h3><%= link_to admin_facility_sub_child_zone_path(@facility, s), data: {:confirm => 'Are you sure? This cannot be undone.'},
                            :method => :delete do %>
                            <i class="glyphicon glyphicon-trash"></i>
                           <% end %>
                </h3>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
