
  <div class="row">
  </div>

  <br />

  <%= div_for(@zones) do |f| %>
  <ol class="routelist">
    <li>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <h3><small><%= f.name %></small>
            </h3>
          </div>
          <div class="col-xs-6">
              <h3><%= f.routes.current.count %>  <small>active routes</small></h3>
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1">
            <h4><%= link_to edit_admin_facility_zone_path(@facility, f ) do %>
                        <i class="glyphicon glyphicon-cog"></i>
            </h4>            <%end %>
          </div>

          <div class="col-xs-1 col-sm-1 col-md-1">
            <h4><%= link_to admin_facility_zone_path(@facility, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                        :method => :delete do %>
                        <i class="glyphicon glyphicon-trash"></i>
            </h4>            <%end %>
          </div>
        </div>
        <div class="row">
        <% f.walls.each do |w| %>
          <div class="col-xs-4">
            <h4 class="tab"><small><%= w.name %></small><h5>
          </div>
          <div class="col-xs-8">
            <h4><small><%= w.routes.current.count %></small><h4>
          </div>

        <% end %>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
