<% provide(:title, 'Add Zones') %>

<div class="container">
    <h1>Zones</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for [:admin, @facility, @zone] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name, "Zone Name/Description" %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.submit "Add", class: "btn btn-primary" %>

          <%= render 'admin/zones/zone', object: @zones %>

        <% end %>
      </div>
    </div>
</div>
