<% provide(:title, 'Zones') %>


<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1><strong>Zone</strong> </h1>
      <span class="btn-group pull-right no-print">
      <button type="button" class="btn btn-close dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Zone Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "New sub-zone", "#newWallModal", data: { toggle: "modal"} %></li>
        <li><%= link_to "edit", "#editZoneModal", data: { toggle: "modal"} %></li>
        <li><%= link_to "delete", admin_facility_zone_path(@facility, @zone), data: {:confirm => 'Are you sure? This cannot be undone.'},
                    :method => :delete %></li>
      </ul>
    </span>

  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <%= div_for @zone do |fz| %>
          <%= render 'admin/zones/zone', object: @zone, :fz => fz %>
        <% end %>
      </div>
      <div class="row">
        <%= render 'admin/zones/routelist', object: @zone_routes %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="bg-white">
            <div class="container-fluid">
              <% @facility_systems.each do |fs| %>
                <% if (facility_system_route_count(fs, @zone) > 0) || (facility_system_target_count(fs, @zone) > 0) %>
                <div class="routelist">
                  <h3><%= fs.name %></h3>
                </div>
                <div class="divider-line"></div>
              <%= render 'facilities/zonegradedist', :fz => @zone, :fs => fs  %>
              <% end %>
            <% end %>
            </div>
          </div>
          <br>
          <div class="bg-white">
            <div class="container-fluid">
              <div class="routelist">
                <h3>Sub-zones</h3>
              </div>
              <div class="divider-line"></div>
                <%= render 'facilities/walldist_column', fz: @zone %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <br>

              <% @facility_systems.each do |fs| %>
                <% if (facility_system_route_count(fs, @zone) > 0) || (facility_system_target_count(fs, @zone) > 0) %>
              <%= render 'facilities/zonegradedist', :fz => @zone, :fs => fs  %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
</div>

<!-- Zone Modal -->

  <div class="modal fade" id="newZoneModal" tabindex="-1" role="dialog" aria-labelledby="newZoneModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="newZoneModal"><h4><strong>CLIMB | CONNECT </strong><small><%= @facility.name %> <%= @facility.location if @facility.location %></small></h4></span>
        </div>
        <div class="modal-body row">
          <%= form_for [:admin, @facility, @zone], :html => {:class => "form-label"}, remote: false do |f| %>
              <%= render 'admin/zones/form', :f => f %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-save" %>
          <button type="button" class="btn btn-close" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


<!-- Zone Modal -->

  <div class="modal fade" id="editZoneModal" tabindex="-1" role="dialog" aria-labelledby="editZoneModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="editZoneModal"><h4><strong>CLIMB | CONNECT </strong><small><%= @facility.name %> <%= @facility.location if @facility.location %></small></h4></span>
        </div>
        <div class="modal-body row">
          <%= form_for [:admin, @facility, @zone], :html => {:class => "form-label"}, remote: false do |f| %>
              <%= render 'admin/zones/form', :f => f %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-save" %>
          <button type="button" class="btn btn-close" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
