<br />
<%= form_for [:admin, @facility, @wall], remote: false do |fw| %>
  <%= render 'shared/error_messages', object: fw.object %>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.text_field :name, class: 'form-control', placeholder: "Child zone name..." %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.text_field :vertical_ft, class: 'form-control', placeholder: "Vertical ft. (optional)..." %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.select(:zone_id, @facilityzones,{include_blank: "Parent zone..." },{class: "form-control"}) %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.submit "Save", class: "btn btn-submit" %>
  </div>

<% end %>
