<div class="form-background">
  <%= form_for [:admin, @facility, @wall], remote: false do |fw| %>
  <%= render 'shared/error_messages', object: fw.object %>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.label :name, "Child zone name:" %>
    <%= fw.text_field :name, class: 'form-control', placeholder: "Child zone name..." %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.label :vertical_ft, "Vertical ft (optional):" %>
    <%= fw.text_field :vertical_ft, class: 'form-control', placeholder: "Vertical ft. (optional)..." %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.label :zone_id, "Choose parent zone:" %>
    <%= fw.select(:zone_id, @facilityzones,{include_blank: "Parent zone..." },{class: "form-control"}) %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <label class="hidden-xl">&nbsp;</label>
    <%= fw.submit "Save", class: "btn btn-submit" %>
  </div>
</div>

  <% end %>
