<br/>
<div class="container-fluid gray-labels">
  <div class="row">
    <%= render 'shared/error_messages', object: f.object %>

    <div class="col-sm-6">
      <%= f.label :name, "Child zone name:" %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Child zone name..." %>
    </div>

    <div class="col-sm-6">
      <%= f.label :zone_id, "Choose parent zone:" %>
      <%= f.select(:zone_id, @facilityzones,
      params[:zone_id] ? { :selected => params[:zone_id] } : { include_blank: "Select parent zone..." },
      {class: "form-control"}) %>
    </div>
  </div>
</div>
