<div class="top-10 home-stats admin-sidebar row">
  <div class="header bg-top-10">
    <%= link_to( image_tag( @facility.logo_image.url(:medium) ,:class=> "img-facility-logo-medium"), admin_facility_path(@facility)) %><br>
    <br>

    <h1><%= @facility.name %>
    <small><%= @facility.location if @facility.location %></small></h1>
    <br>
  </div>
  <%= link_to admin_facility_routes_path(@facility) do %>
    <div class="circle-wrapper">
      <div class="large-circle large-circle-gray responsive"><%= @facility.routes.current.size %><span class="text"><%= "total" %></span></div>
    </div>
  <% end %>

  <% unless (@facility.routes.current.climb_type("boulder").size == 0) && (@facility.routes.current.climb_type("sport").size) > 0 %>
    <%= link_to admin_facility_routes_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive"><%= @facility.routes.current.climb_type("boulder").size %><span class="text"><%= "boulder".pluralize(@facility.routes.current.size) %></span></div>
      </div>
    <% end %>
  <% end %>

  <% unless (@facility.routes.current.climb_type("sport").size == 0) && (@facility.routes.current.climb_type("boulder").size) > 0 %>
    <%= link_to admin_facility_routes_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle large-circle-gray responsive"><%= @facility.routes.current.climb_type("sport").size %><span class="text"><%= "route".pluralize(@facility.routes.current.size) %></span></div>
      </div>
    <% end %>
  <% end %>
  <div class="circle-wrapper">
    <div class="large-circle large-circle-gray responsive"><%= (total_age(@facility.routes) / @facility.routes.current.size) if @facility.routes.current.size > 0  %><span class="text"><%= "avg. age" %></span></div>
  </div>

  <%= link_to admin_facility_routes_path(@facility) do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><i class="fa fa-list" aria-hidden="true"></i><span class="text"><%= "route List" %></span></div>
    </div>
  <% end %>

  <%= link_to new_admin_facility_route_path(@facility) do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><i class="fa fa-plus-square" aria-hidden="true"></i><span class="text"><%= "new route" %></span></div>
    </div>
  <% end %>

  <%= link_to admin_facility_tasks_path(@facility) do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><i class="fa fa-check-square-o" aria-hidden="true"></i><span class="text"><%= "tasks" %></span></div>
    </div>
  <% end %>

  <% unless params[:action] == 'show' %>
    <div class="hidden-xs">
  <% end %>

  <div class="header bg-top-10">
    <h1><%= link_to "Zones", admin_facility_zones_path(@facility) %></h1><span class="pull-right"><%= link_to "manage", admin_facility_zones_path(@facility) %></span>
  </div>
    <ul>
      <% @facility.zones.each do |zone| %>
      <% if params[:controller][0..4] == 'admin' %>
        <%= link_to admin_facility_zone_path(zone.facility_id, zone) do %>
          <li>
            <%= zone.name %>
          </li>
        <% end %>
      <% else %>
        <%= link_to facility_zone_path(zone.facility_id, zone) do %>
          <li>
            <%= zone.name %>
          </li>
        <% end %>
      <% end %>
      <% end %>
    </ul>




    <%= link_to admin_facility_facility_roles_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-users" aria-hidden="true"></i><span class="text"><%= "team" %></span></div>
      </div>
    <% end %>

    <%= link_to admin_facility_grades_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-tasks" aria-hidden="true"></i><span class="text"><%= "grading" %></span></div>
      </div>
    <% end %>

    <%= link_to admin_facility_competitions_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-trophy" aria-hidden="true"></i><span class="text"><%= "comps" %></span></div>
      </div>
    <% end %>

    <%= link_to '#facilitySettingsModal', data: { toggle: "modal"}, remote: false do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive">

                          <i class="fa fa-cogs" aria-hidden="true"></i>

        <span class="text"><%= "settings" %></span>
        </div>
      </div>
    <% end %>

    <% unless params[:action] == 'show' %>
    </div>
    <% end %>

</div>




<div class="hidden-sm hidden-md hidden-lg">
  <br>
</div>

<!-- Modal -->

  <div class="modal fade" id="facilitySettingsModal" tabindex="-1" role="dialog" aria-labelledby="facilitySettingsModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="facilitySettingsModal"><%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/climbconnect-assets/logos/cc-white-horizontal.svg'), root_path, class: "logo" %></span>
        </div>
        <div class="modal-body row">
          <ul class="modal-list">
            <%= link_to edit_admin_facility_path(@facility) do %><li>Facility Info</li><% end %>
            <%= link_to admin_facility_facility_targets_path(@facility) do %><li>Targets</li><% end %>
            <%= link_to admin_facility_custom_colors_path(@facility) do %><li>Manage Colors </li><% end %>
            <%= link_to admin_facility_subscriptions_path(@facility) do %><li>Subscriptions</li><% end %>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-filter" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
