<li id="facility-<%= facility.id %>">
  <%= link_to gravatar_for(facility.user, size: 50), facility.user %>
  <span class="name"><%= link_to facility.name, facility %></span>
  <span class="user"><%= facility.city %>, <%= facility.state %></span>
  <span class="timestamp">
    Updated <%= time_ago_in_words(facility.updated_at) %> ago
  </span>
</li>
