<br>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">
        <h3 class="tab"> CLIMBER ANALYTICS COMING SOON!</h3>
    </div>

    <% facility_systems.each do |fs| %>

      <div class="col-sm-12">
        <div class="routelist">


          <br>
          <br>
          <div class="row">
              <h3> <%= fs.name %></h3>
          </div>
          <div class="row">
            Total Active Routes: <%= Route.facility_system(fs).where(facility_id: @facility.id).current.count %>
          </div>
          <div class="row">
              <%= render 'facilities/gradedist_boulder', :fs => fs %>
          </div>
        </div>
      </div>


    <% end %>

    <div class="col-sm-6">
      <div class="routelist">
        <div class="row">
        <h3>Routes by Zone</h3>

          <%= render 'facilities/zonedist' %>
        </div>
      </div>
    </div>



    <div class="col-sm-12">
      <div class="routelist">
        <div class="row">
        <h3>New Routes</h3>
        <%= render 'facilities/newroutes' %>
      </div>
    </div>
  </div>



  </div>
</div>
