<div class="top-10 home-stats row">
  <div class="header bg-top-10">
    <h1>facility Stats</h1>
  </div>

  <%= link_to admin_facility_routes_path(@facility) do %>
    <div class="circle-wrapper">
      <div class="large-circle responsive"><%= @facility.routes.current.size %><span class="text"><%= "total" %></span></div>
    </div>
  <% end %>

  <% unless (@facility.routes.current.climb_type("boulder").size == 0) && (@facility.routes.current.climb_type("sport").size) > 0 %>
    <%= link_to admin_facility_routes_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><%= @facility.routes.current.climb_type("boulder").size %><span class="text"><%= "boulder".pluralize(@facility.routes.current.size) %></span></div>
      </div>
    <% end %>
  <% end %>

  <% unless (@facility.routes.current.climb_type("sport").size == 0) && (@facility.routes.current.climb_type("boulder").size) > 0 %>
    <%= link_to admin_facility_routes_path(@facility) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><%= @facility.routes.current.climb_type("sport").size %><span class="text"><%= "route".pluralize(@facility.routes.current.size) %></span></div>
      </div>
    <% end %>
  <% end %>
  <div class="circle-wrapper">
    <div class="large-circle responsive"><%= (total_age(@facility.routes) / @facility.routes.current.size) if @facility.routes.current.size > 0  %><span class="text"><%= "avg. age" %></span></div>
  </div>

  <div class="header bg-top-10">
    <h1>Zones</h1>
  </div>
    <ul>
      <% @facility.zones.each do |zone| %>
      <% if params[:controller][0..4] == 'admin' %>
        <%= link_to admin_facility_zone_path(zone.facility_id, zone) do %>
          <li>
            <%= zone.name %>
          </li>
        <% end %>
      <% else %>
        <%= link_to facility_zone_path(zone.facility_id, zone) do %>
          <li>
            <%= zone.name %>
          </li>
        <% end %>
      <% end %>
      <% end %>
    </ul>

 <% unless @facility.demo? %>
    <%= render 'facilities/follow_button' %>
  <% end %>

</div>

<div class="hidden-sm hidden-md hidden-lg">
  <br>
</div>
