<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      exporting: {
          sourceWidth: 800,
          sourceHeight: 400,

          // scale: 2 (default),
          enabled: true,
          filename: "new_routes",

          buttons: {
                contextButton: {
                    symbolStroke: '#d5d5d5',
                    menuItems: [{
                        text: 'Export to PNG',
                        onclick: function () {
                            this.exportChart({
                                width: 3200
                            });
                        }
                    },{
                        text: 'Export to PDF',
                        onclick: function () {
                            this.exportChart({
                              type: 'application/pdf'
                            });
                        },
                        separator: false
                    },
                  ]
                }
            },
            chartOptions: {
                title: {
                    text: "<%= @facility.name.gsub(/[^0-9a-z ]/i, '') + " " + @facility.location.gsub(/[^0-9a-z ]/i, '') %>",
                    style: {
                        color: 'black',
                        fontWeight: 'bold',
                        fontFamily: "'Helvetica', sans-serif"
                    }
                },
                subtitle: {
                    text:  "New Routes"
                },
            }

      },
      navigation: {
          buttonOptions: {
              align: 'right',
              verticalAlign: 'bottom',
              y: 32,
              theme: {
                r: '0',
                  states: {
                      hover: {
                          fill: '#a9a9a9',
                          stroke: '#a9a9a9',
                      },
                      select: {
                          fill: '#a9a9a9',
                          stroke: '#a9a9a9',
                      }
                  }
              }
          }
      },
      chart: {
        renderTo: "newroutes",
        spacingBottom: 35,
        type: "column",
        style: {
          fontFamily: 'Helvetica',
        }
      },
      title: {
        text: ""
      },
      xAxis: {
        type: "datetime",
        tickInterval: 24 * 3600 * 1000,
        labels: {
          format: '{value: %a, %m/%d}'
        },
        tickLength: 0,
        minorTickLength: 0,
      },
      yAxis: {
        title: {
          text: ""
        },
        labels: {
          enabled: false
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,
        lineColor: 'transparent',
        allowDecimals: false
      },
      credits: {
        enabled: true,
        text: '<%= @facility.name.gsub(/[^0-9a-z ]/i, '')%>  |  climbconnect.com',
        style: {
          fontSize: "12px",
        },
        href: false,
        position: {
          align: "right",
          verticalAlign: "bottom",
          x: -40,
          y: -8,
        }
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%a %B %e, %Y", this.x) + ': ' +
           + Highcharts.numberFormat(this.y, 0);
        }
      },
      legend: {
        enabled: false
      },
      setOptions: {
        global : {
            useUTC : false
        }
      },
      plotOptions: {
        column: {
          grouping: true,
          dataLabels: {
            enabled: true,
            style: {
              textShadow: '0 0 0 black',
              color: '#333',
              fontFamily: 'Helvetica',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: (["#5DADE2", "#b6da6b", "#da8f6b", "#da6bb6"]),

      series: [
        <% { "New routes" => @facility.routes.where( status: nil ) }.each do |type, routes| %>
        {
          name: "<%= type %>",
          pointInterval: <%= 1.day * 1000 %>,
          pointStart: <%= 2.weeks.ago.at_midnight.to_i * 1000 %>,
          data: <%= (2.weeks.ago.to_date..Date.current.in_time_zone).map { |date| routes.set_on(date).to_f }.inspect %>
        },
        <% end %>
        ]
    });
  });
</script>
<div id="newroutes" style="width:100%; height:200px;"></div>
