<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "wall_dist-<%= fz.id %>",
        height: 50 * <%= raw @facility.walls.where("zone_id = ?", fz).count %>,
        type: "bar",
        style: {
          fontFamily: 'Helvetica',
        },
      },
      title: {
        text: ""
      },
      xAxis: {
        type: 'category',
        labels: {
          enabled: true,
        },
        tickLength: 0,
        minorGridLineWidth: 0,
        minorTickLength: 0,
      },
      yAxis: {
        title: {
          text: ""
        },
        labels: {
          enabled: false,
        },
        tickLength: 0,
        lineWidth: 0,
        minorGridLineWidth: 0,
        gridLineColor: 'transparent',
        minorTickLength: 0,
        lineColor: 'transparent',
        allowDecimals: false
      },
      credits: {
        enabled: false
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        series: {
          pointWidth: 20,
        },
        spline: {
          marker: {
              enabled: false
          }
        },
        bar: {
          dataLabels: {
            enabled: true,

            style: {
              textShadow: '0 0 0 black',
              color: '#333',
              fontFamily: 'Helvetica',
              fontWeight: 'normal'
            },
            formatter: function() {
                if (this.y != 0) {
                  return this.y;
                } else {
                  return null;
                }
            }
          }
        }
      },
      colors: (["#b6da6b", "#5499C7", "#da6bb6"]),

      series: [{
          type: 'bar',
          name: 'Routes',
          data: <%= raw @facility.walls.where("zone_id = ?", fz).order('name ASC').map {|f| [f.name, Route.current.where("wall_id = ? and zone_id = ?", f, fz).count ] } %>
      },{
          type: 'spline',
          name: 'Target',
          data: <%= raw @facility.walls.where("zone_id = ?", fz).order('name ASC').map {|f| [f.name, FacilityTarget.where("wall_id = ? AND grade_id IS NULL", f).sum(:value) ] } %>
      }
    ]
    });
  });
</script>
<div id="wall_dist-<%= fz.id %>" style="width:100%; height:100%; position:relative;"></div>
