<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-4">
            <%= render 'facilities/facility_stats', object: @facility %>
            <%= render 'users/top10sends' %>
            <%= render 'users/top10routes' %>
            <%= render 'users/newest10routes' %>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="gray-labels routeform-header bg-blue-gradient">
              <h1> NEWS FEED</h1>
            </div>
              <%= render 'facilities/facility_activity_feed' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
