<% provide(:title, @facility.name + " home") %>

<div class="container-fluid no-margin">
      <div class="row">


        <div class="col-sm-12">
          <div class="row">
            <%= render 'facilities/facility_stats2', object: @facility %>
          </div>
        </div>

        <% if @facility.zones.count > 1 %>
        <div class="col-sm-12 bg-black">
            <%= render 'facilities/stats_zonedist' %>
        </div>
        <% end %>

      </div>
    </div>

        <div class="col-sm-6">
          <%= render 'facilities/top10sends' %>
        </div>
        <div class="col-sm-6">
          <%= render 'facilities/top10routes' %>
        </div>


    <div class="container-fluid">
          <div class="row">

        <div class="col-sm-12">
          <%= render 'facilities/facility_activity_feed' %>
        </div>
      </div>
    </div>
