<ol class="routelist">
  <%= page_entries_info @facility_targets  %>
<%= div_for(@facility_targets) do |f| %>


  <li style="border: none;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-10">

          <span><h3><%= f.grade.grade if f.grade %> <%= f.zone.name if f.zone %></h3></span>
        </div>
        <div class="col-xs-6 col-sm-1">
            <div class="circle"><%= f.value %></div>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1">
          <h3><%= link_to admin_facility_facility_target_path(@facility, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                      :method => :delete, remote: true do %>
                      <i class="glyphicon glyphicon-trash pull-right"></i>
                      <%end %>
          </h3>
        </div>

      </div>
        <div class="row">
          <div class="col-xs-12">
            <strong>System: </strong><%= f.grade.grade_system.name %>
          </div>
          <br>
          <br>
      </div>
  </li>

<% end %>
</ol>
