
<%= div_for(@facility_targets) do |f| %>
<ol class="routelist">
  <li>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2">
          <p><%= f.grade.grade if f.grade %></p>

        </div>
        <div class="col-xs-5">
            <p><%= f.zone.name if f.zone %></p>

        </div>
        <div class="col-xs-2">
            <p><%= f.value %></p>

        </div>
        <div class="col-xs-1 col-sm-1 col-md-1">
          <p><%= link_to edit_admin_facility_facility_target_path(@facility, f ) do %>
                      <i class="glyphicon glyphicon-cog"></i>
                      <%end %>
          </p>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1">
          <p><%= link_to admin_facility_facility_target_path(@facility, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                      :method => :delete do %>
                      <i class="glyphicon glyphicon-trash"></i>
                      <%end %>
          </p>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
