<li id="facility-<%= facility.id %>">
  <%= link_to gravatar_for(facility.user, size: 50), facility.user %>
  <span class="name"><%= link_to facility.name, admin_facility_path(facility) %> - <%= facility.location %></span>
  <span class="user"><%= facility.city %>, <%= facility.state %></span>
  </span>
</li>
