<li id="facility-<%= facility.id %>">
  <span class="name"><%= link_to facility.name, admin_facility_path(facility) %></span>
  <span class="name"><%= facility.addressline1 %></span>
  <span class="name"><%= facility.city %>, <%= facility.state %></span>
</li>
