<div class="headliner-line">
  <h1>New Facility</h1>
  <br/>
</div>

<%= form_for([:admin,@facility]) do |f| %>
  <%= render 'shared/error_messages', object: @facility %>



<div class="col-sm-12 col-md-12 col-lg-12">
  <%= f.label :name, "Facility name" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :location, "Location name (optional)"%>
  <%= f.text_field :location, class: 'form-control' %>

  <%= f.label :addressline1, "Address" %>
  <%= f.text_field :addressline1, class: 'form-control' %>

  <%= f.label :addressline2, "Address (line 2)" %>
  <%= f.text_field :addressline2, class: 'form-control' %>
</div>

<div class="col-sm-6 col-md-6 col-lg-6">
  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>
</div>

  <div class="col-sm-6 col-md-6 col-lg-6">
  <%= f.label :state %>
  <%= f.select(:state, options_for_select(us_states, selected: f.object.state ), { include_blank: 'Select state' }, { class: 'form-control' }) %>
  </div>

<div class="col-sm-12 col-md-12 col-lg-12">
  <%= f.label :zipcode, "Zip code" %>
  <%= f.text_field :zipcode, class: 'form-control' %>
</div>

  <br/>
<div class="col-sm-12 col-md-12 col-lg-12">
  <%= f.submit "Submit", class: "btn btn-submit" %>
</div>

<% end %>
