      <%= form_for [:admin, @facility], :html => {:class => "form-label", :multipart => true} do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="gray-labels">
          <div class="routeform-header bg-blue-gradient">
            <h1><strong>Facility</strong>Information</h1>
          </div>
          <br>
          <div class="container-fluid bg-routeform">

          <div class="col-sm-12 col-md-12 col-lg-12">
            <%= f.label :name, "Company name*", class: "form-label" %>
            <%= f.text_field :name, placeholder: "ex. Moe's Tavern", class: 'form-control' %>

            <%= f.label :location, "Location name"%>
            <%= f.text_field :location, placeholder: "ex. South Location", class: 'form-control' %>

            <%= f.label :addressline1, "Address Line 1*" %>
            <%= f.text_field :addressline1, class: 'form-control' %>

            <%= f.label :addressline2, "Address Line 2" %>
            <%= f.text_field :addressline2, class: 'form-control' %>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <%= f.label :city, "City*" %>
            <%= f.text_field :city, placeholder: "ex. Boulder", class: 'form-control' %>
          </div>


          <div class="col-sm-4 col-md-4 col-lg-">
          <%= f.label :state, "State/Province/Region*" %>
          <%= f.text_field :state, placeholder: "ex. CO", class: 'form-control' %>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <%= f.label :zipcode, "ZIP/Postal Code*" %>
            <%= f.text_field :zipcode, placeholder: "ex. 80302", class: 'form-control' %>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <%= f.label :country, "Country*" %>
            <%= f.select(:country, options_for_select(country_list, selected: f.object.country ), { include_blank: 'Select country' }, { class: 'form-control' }) %>
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">
            <%= f.label :public, "Privacy" %>
            <%= f.select(:public, options_for_select(true_false, selected: f.object.public ), { include_blank: false }, { class: 'form-control' }) %>
          </div>


          <div class="col-sm-12">
            <%= image_tag @facility.logo_image.url(:thumb) if @facility.logo_image.exists? %>
          </div>


            <div class="col-sm-12">
              <%= f.label :logo_image,"Logo Image" %>
              <%= f.file_field :logo_image, class: 'btn-expire btn-lg'  %>
            </div>

            <br>
            <br>

          <div class="col-sm-12 col-md-12 col-lg-12">
            <%= f.submit "Save", class: "btn btn-save btn-lg", "data-disable-with"=> "Saving..." %>
          </div>

        </div>
      </div>


    <% end %>
