<div class="container-fluid">
  <div class="row">
    <% if @routes.count == 0 %>
    <div class="col-sm-12">
        <div class="row">
          <br>
          <%= render 'admin/facilities/checklist' %>
        </div>
    </div>

  <% else %>
  <br>
  <div class="col-sm-12">
    <div class="routelist">
      <div class="row">
      <h3>Routes by Zone</h3>

        <%= render 'admin/facilities/zonedist' %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @facility_systems.each do |fs| %>
    <ol class="routelist routelist-dark">
      <li style="border: none; padding: 15px;">
      <div class="col-sm-12">
          <div class="row">
              <h3> <%= fs.name %></h3>
          </div>
          <div class="row">
            <h2>Total Active Routes: <%= Route.facility_system(fs).where(facility_id: @facility.id).current.count %></h2>
          </div>
          <div class="row">
              <%= render 'admin/facilities/gradedist_boulder', :fs => fs %>
          </div>
      </div>
    </li>
  </ol>


    <% end %>
  </div>



    <div class="col-sm-12">
      <div class="routelist">
        <div class="row">
        <h3>New Routes</h3>
        <%= render 'facilities/newroutes' %>
      </div>
    </div>
  </div>

<% end %>
  </div>
</div>
