<% provide(:title, @facility.name ) %>

<% if @routes.count == 0 %>

  <h1><small>Start adding routes to see your analytics!</small></h1>

  <% else %>

  <% @facility_systems.each do |fs| %>

  <% if fs.grades.count > 15 %>
    <div class="col-md-12">
  <% else %>
    <div class="col-md-6">
  <% end %>
  <div class="chart-header">
    <h1> <%= fs.name %></h1>
  </div>
      <%= render 'facilities/gradedist_boulder', :fs => fs %>
  </div>

  <% end %>

<div class="col-md-6">
  <div class="chart-header">
    <h1>Routes by Zone</h1>
  </div>
    <%= render 'facilities/zonedist' %>
</div>




<div class="row">
  <div class="col-md-12">
      <%= render 'facilities/newroutes' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <%= render 'facilities/tick_summary' %>
  </div>
</div>

<% end %>
