
<% provide(:title, @facility.name ) %>
<div class="container-fluid">
<% if @routes.count == 0 %>

  <%= render 'admin/facilities/checklist' %>

<% else %>

  <% @facility_systems.each do |fs| %>



  <div class="container-fluid">
    <div class="col-sm-12">
      <div class="routelist">
        <div class="row">
            <h3> <%= fs.name %></h3>
        </div>
        <div class="row">
          Total Active Routes: <%= Route.facility_system(fs).where(facility_id: @facility.id).current.count %>
        </div>
            <%= render 'facilities/gradedist_boulder', :fs => fs %>
      </div>
    </div>
  </div>

  <% end %>

  <div class="col-sm-6">
    <div class="routelist">
      <h3>Routes by Zone</h3>
    </div>
      <%= render 'facilities/zonedist' %>
  </div>



  <div class="col-sm-12">
    <div class="routelist">
      <h3>New Routes</h3>
      <%= render 'facilities/newroutes' %>
  </div>
</div>

</div>
<% end %>
