<br />
<%= form_for [:admin, @facility, @sub_child_zone], remote: false do |fw| %>
  <%= render 'shared/error_messages', object: fw.object %>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.text_field :name, class: 'form-control', placeholder: "Zone name..." %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.grouped_collection_select(:wall_id, Zone.where(facility_id: @facility.id) , :walls, :name, :id, :name,
    { include_blank: 'Parent zone' },
    {class: "form-control"}) %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= fw.submit "Save", class: "btn btn-submit" %>
  </div>

<% end %>
