<br/>
  <%= render 'shared/error_messages', object: f.object %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name, class: 'form-control', placeholder: "New zone name..." %>
    </div>

    <div class="col-sm-6">
      <%= f.label :wall_id, "Parent zone:" %>
      <%= f.grouped_collection_select(:wall_id, Zone.where(facility_id: @facility.id) , :walls, :name, :id, :name,
      { include_blank: 'Parent zone' },
      {class: "form-control"}) %>
    </div>


  </div>
</div>
