
  <%= div_for(@zone_routes) do |f| %>
  <ol class="routelist">

      <% if f.color_hex? %>
      <li style="border-left: 15px solid <%= f.color_hex %>">
      <% elsif f.color? %>
        <% if ["light", "dark", "neon", "hot"].include?(f.color.split(/\W+/).first.downcase.to_s) %>
          <li class="<%= f.color.split(/\W+/).second.downcase.to_s %>">
          <% else %>
          <li class="<%= f.color.split(/\W+/).first.downcase.to_s %>">
          <% end %>
      <% else %>
      <li>
      <% end %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <% if params[:facility_id].present? %>
            <h3>
              <% if f.color? %>
                <%= link_to f.grade.grade + " "+ f.color.upcase , user_facility_route_path(current_user, f.facility, f) if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= link_to f.grade.grade , user_facility_route_path(current_user, f.facility, f) if f.grade %>
              <% else %>
                <%= link_to f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase , user_facility_route_path(current_user, f.facility, f) if f.grade %>
              <% end %>
            </h3>

            <% else %>
            <h3>
              <% if f.color? %>
                <%= link_to f.grade.grade + " "+ f.color.upcase , user_path(current_user, f) if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= link_to f.grade.grade , user_route_path(current_user, f) if f.grade %>
              <% else %>
                <%= link_to f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase , user_route_path(current_user, f) if f.grade %>
              <% end %>
            </h3>
            <% end %>
            <h2> <%= f.name %></h2>

            <span class="pull-right"><%= (image_tag f.facility.logo_image.url(:medium), class: "img-facility-logo-list") if f.facility.logo_image %></span>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="mobile-tab"><%= f.facility.name if f.facility %> <%= f.facility.location if f.facility.location %></div>
          </div>

          <div class="col-sm-12">
              <div class="mobile-tab"><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="mobile-tab"><%= f.user.name if f.user %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="mobile-tab text-right">


              <% unless params[:controller] == 'admin/tasks' %>
                <% if (days_ago(f) == "today") %>
                  <span>set <%= days_ago(f) %></span>
                <% else %>
                  set <%= days_ago(f) %> ago
                <% end %>
              <% else %>
                <% if f.setdate? %>
                due on <%= f.setdate.strftime("%b %d, %Y") %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <br>

        <div class="row">
            <%= render(partial: 'routes/list_buttons', locals: { f: f }) %>
        </div>





    </li>
    <% end %>
  </ol>
