<% provide(:title, 'Zones') %>


<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1><strong>Zone</strong> </h1>

  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <% @zone.each do |fz| %>
          <%= render 'zones/zone', object: @zone, :fz => fz %>
        <% end %>
      </div>
      <div class="row">
        <%= render 'zones/zone_routelist', object: @zone_routes %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="bg-white">
            <div class="container-fluid">
              <% @facility_systems.each do |fs| %>
                <% if (facility_system_route_count(fs, @zone) > 0) || (facility_system_target_count(fs, @zone) > 0) %>
                <div class="routelist">
                  <h3><%= fs.name %></h3>
                </div>
                <div class="divider-line"></div>
              <%= render 'facilities/zonegradedist', :fz => @zone, :fs => fs  %>
              <% end %>
            <% end %>
            </div>
          </div>
          <br>
          <div class="bg-white">
            <div class="container-fluid">
              <div class="routelist">
                <h3>Sub-zones</h3>
              </div>
              <div class="divider-line"></div>
                <%= render 'facilities/walldist_column', fz: @zone %>
            </div>
          </div>
      </div>
    </div>
  </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <br>

              <% @facility_systems.each do |fs| %>
                <% if (facility_system_route_count(fs, @zone) > 0) || (facility_system_target_count(fs, @zone) > 0) %>
              <%= render 'facilities/zonegradedist', :fz => @zone, :fs => fs  %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
</div>
