<% provide(:title, 'Zones') %>


<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1><strong><%= @zone.name %></strong> </h1>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="routelist row">
          <%= render 'admin/zones/zone_stats', fz: @zone %>
      </div>
      <% @facility_systems.each do |fs| %>
        <% if (facility_system_route_count(fs, @zone) > 0) || (facility_system_target_count(fs, @zone) > 0) %>

      <%= render 'facilities/zonegradedist', :fz => @zone, :fs => fs  %>
      <% end %>
    <% end %>

      <div class="row">
        <%= render 'zones/zone_routelist', object: @zone_routes %>
      </div>
    </div>


        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <br>

              <% @facility_systems.each do |fs| %>
                <% if (facility_system_route_count(fs, @zone) > 0) || (facility_system_target_count(fs, @zone) > 0) %>
              <%= render 'facilities/zonegradedist', :fz => @zone, :fs => fs  %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
</div>
</div>
