<div id="filterrific_results">
  <div class="row">
    <div class="col-xs-12">
      <div class="routelist">
      <h2><%= page_entries_info @routes  %>
      <% if filter_results_count > 0 %>
        (<%= filter_results_count.to_s + ' filter'.pluralize(filter_results_count) + ' applied' %>)
      <% end %>
      </h2>
      <span class="pull-right">
        <%= link_to(
          'Reset filters',
          reset_filterrific_url
        ) %>
      </span>
    </div>
    </div>

  </div>
  <%= div_for(@routes) do |f| %>
  <ol class="routelist">

      <% if f.color_hex? %>
      <li style="border-left: 15px solid <%= f.color_hex %>">
      <% elsif f.color? %>
        <% if ["light", "dark", "neon", "hot"].include?(f.color.split(/\W+/).first.downcase.to_s) %>
          <li class="<%= f.color.split(/\W+/).second.downcase.to_s %>">
          <% else %>
          <li class="<%= f.color.split(/\W+/).first.downcase.to_s %>">
          <% end %>
      <% else %>
      <li>
      <% end %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h3>
              <% if f.color? %>
                <%= link_to f.grade.grade + " "+ f.color.upcase , user_facility_route_path(@user, f.facility, f) if f.grade %>
              <% elsif (color_name(f.color_hex,f.facility)).nil? %>
                <%= link_to f.grade.grade , user_facility_route_path(@user, f.facility, f) if f.grade %>
              <% else %>
                <%= link_to f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase , user_facility_route_path(@user, f.facility, f) if f.grade %>
              <% end %>
            </h3>
            <h2> <%= f.name %></h2>

            <span class="pull-right"><%= f.id %></span>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-12">
              <div class="mobile-tab"><h2><strong><%= f.facility.name if f.facility %> <%= f.facility.location if f.facility.location %></strong></h2></div>
          </div>

          <div class="col-sm-12">
              <div class="mobile-tab"><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %> > <%= f.sub_child_zone.name if f.sub_child_zone %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="mobile-tab"><%= f.user.name if f.user %></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="mobile-tab text-right">


              <% unless params[:controller] == 'admin/tasks' %>
                <% if (days_ago(f) == "today") %>
                  <span>set <%= days_ago(f) %></span>
                <% else %>
                  set <%= days_ago(f) %> ago
                <% end %>
              <% else %>
                <% if f.setdate? %>
                due on <%= f.setdate.strftime("%b %d, %Y") %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
        <div class="divider-line-light"></div>

        <div class="row">

          <div class="no-print">
            <div class="col-xs-4 col-sm-2">
                <%= button_to "PROJECT", quick_project_user_route_path(current_user, f), class: 'btn btn-expire btn-md', method: :quick_project, remote: true %>
            </div>
            <div class="col-xs-4 col-sm-2">
                <%= button_to "REDPNT", quick_redpoint_user_route_path(current_user, f), class: 'btn btn-expire btn-md', method: :quick_project, remote: true %>
            </div>

            <div class="col-xs-4 col-sm-2 no-print">
              <%= button_to "FLASH", quick_flash_user_route_path(current_user, f), class: 'btn btn-expire btn-md', method: :quick_tick, remote: true%>
            </div>


            <div class="hidden-sm hidden-md hidden-lg>"><br></div>





            <% if Tick.where(route_id: f.id, user_id: current_user.id ).count > 0 %>
            <div class="hidden-sm hidden-md hidden-lg>"><br></div>

            <div class="col-xs-12 col-sm-6">
              <div class="hidden-sm hidden-md hidden-lg>"><br></div>

              <div class="pull-right">

              <% if Tick.attempt_overall_count(f, current_user) > 0 %>
                <div class="tick-circle">
                  <%= Tick.send_overall_count(f, current_user, "project") %>
                  <span class="text"><%= "send".pluralize(Tick.send_overall_count(f, current_user, "project")) %></span>
                </div>
              <% end %>



                <% if Tick.attempt_overall_count(f, current_user) > 0 %>
                  <div class="tick-circle attempt hidden-xs">
                    <%= Tick.attempt_overall_count(f, current_user) %>
                    <span class="text"><%= "attempt".pluralize(Tick.attempt_overall_count(f, current_user)) %></span>
                  </div>
                <% end %>



              <% if Tick.send_type_count(f, current_user, "flash") > 0 %>
                <div class="tick-circle flash">
                  <%= Tick.send_type_count(f, current_user, "flash") %>
                  <span class="text"><%= "flash".pluralize(Tick.send_type_count(f, current_user, "flash")) %></span>
                </div>
              <% end %>

              <% if Tick.send_type_count(f, current_user, "redpoint") > 0 %>
                <div class="tick-circle redpoint">
                  <%= Tick.send_type_count(f, current_user, "redpoint") %>
                  <span class="text"><%= "redpnt".pluralize(Tick.send_type_count(f, current_user, "redpoint")) %></span>
                </div>
              <% end %>

              <% if Tick.send_type_count(f, current_user, "project") > 0 %>
                <div class="tick-circle project">
                  <%= Tick.send_type_count(f, current_user, "project") %>
                  <span class="text"><%= "project".pluralize(Tick.send_type_count(f, current_user, "project")) %></span>
                </div>
              <% end %>







            </div>
          </div>
            </div>
            </div>
        <% end %>

      </div>
    </li>
  </ol>



  <% end %>

  <%= paginate @routes %>
</div>
