      <div class="container-fluid routelist routeshow">
        <div class="col-xs-12 bg-white">
          <% if route.color_hex? %>
            <div style="border-left: 15px solid <%= route.color_hex %>"></div>
          <% end %>


            <h1 style="border-left: 15px solid <%= route.color_hex %>">
              <span class="tab">
              <% if route.grade %>
                <% if route.color? %>
                  <%= link_to route.grade.grade + " " + route.color.upcase , facility_route_path(route.facility, route) %>
                <% elsif (color_name(route.color_hex, @facility)).nil? %>
                  <%= link_to route.grade.grade , facility_route_path(route.facility, route) %>
                <% else %>
                  <%= link_to route.grade.grade + " " + color_name(route.color_hex, @facility)[0].upcase , facility_route_path(route.facility, route) %>
                <% end %>
              <% end %>
            </h1>
          <h2 class="tab"> <%= route.name if route.name %></h2></span>
          <span class="pull-right hidden-xs">
            <% if route.user %>

              <% if route.user.avatar? %>
                <%= image_tag route.user.avatar.url(:thumb), class: "img-setter-icon" %>
              <% elsif route.user.image? %>
                <%= image_tag route.user.image ,:class=> "img-setter-icon" %>
                <% else %>
              <%= image_tag route.user.avatar.url(:thumb), class: "img-setter-icon" %>
              <% end %>

            <% end %>
          </span>





          <br>
          <div class="divider-line"></div>
          <br>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <span><p><strong> <%= route.facility.name %></strong> <%= route.facility.location %></p></span>

                    <span class="pull-right hidden-xs">
                        <% unless params[:controller] == 'admin/tasks' %>
                          <% if (days_ago(route) == "today") %>
                            <span class="badge badge-today">set <%= days_ago(route) %></span>
                          <% else %>
                            set <%= days_ago(route) %> ago
                          <% end %>
                        <% else %>
                          <% if route.setdate? %>
                          set on <%= route.setdate.strftime("%b %d, %Y") %>
                          <% end %>
                        <% end %>
                    </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span><strong>Location: </strong><%= route.zone.name if route.zone %><%= " > " + route.wall.name if route.wall %> <%= " > " + route.sub_child_zone.name if route.sub_child_zone %></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span><strong>Setter: </strong> <%= route.user.name if route.user %></span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span class="pull-right hidden-sm hidden-md hidden-lg">
                    <% unless params[:controller] == 'admin/tasks' %>
                      <% if (days_ago(route) == "today") %>
                        <span class="badge badge-today">set <%= days_ago(route) %></span>
                      <% else %>
                        set <%= days_ago(route) %> ago
                      <% end %>
                    <% else %>
                      <% if route.setdate? %>
                      set on <%= route.setdate.strftime("%b %d, %Y") %>
                      <% end %>
                    <% end %>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <span><strong>Route ID: </strong> <%= route.id %></span>
              </div>
            </div>

            <% if route.description? %>
            <div class="row">
              <br/>
              <div class="col-sm-12">
                  <span><i><%= route.description %></i></span>
              </div>
            </div>
            <% end %>

            <%= render(
            partial: 'routes/rating_count',
            locals: { route: route }
            ) %>
          </div>

          <% unless params[:controller] == 'admin/tasks' %>
          <div class="col-xs-12 col-sm-4">
            <div class="row">
                <% if route.image.exists? %>
                    <br>
                <%= link_to image_tag(route.image.url(:medium), class: "img-route-show") , "#routeShowModal", data: { toggle: "modal"} %></li>
                <% end %>
            </div>
          </div>
          <% end %>
      </div>
    </div>



<!-- Modal -->

  <div class="modal fade" id="routeShowModal" tabindex="-1" role="dialog" aria-labelledby="routeShowModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="routeShowModal"><span class="logo"><%= link_to (image_tag 'cc_white_horizontal.png'), root_path, class: "logo" %></span></span>
        </div>
        <div class="modal-body row">
          <%= image_tag route.image.url, class: "img-route-show"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-close" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>
