<ol class="routelist routelist-dark">


    <li>



<div class="list-color-circle", style="background-color: <%= f.color_hex %>"><span class="text"><%= "" %></span></div>

  <span>
    <div class="container-fluid">
      <div class="row doubletab">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <% if params[:facility_id].present? %>
          <h3><strong>
            <% if f.color? %>
              <%= f.grade.grade + " "+ f.color.upcase if f.grade %>
            <% elsif (color_name(f.color_hex,f.facility)).nil? %>
              <%= f.grade.grade if f.grade %>
            <% else %>
              <%= f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase if f.grade %>
            <% end %>
          </strong></h3>

          <% else %>
          <h3><strong>
            <% if f.color? %>
              <%= f.grade.grade + " "+ f.color.upcase if f.grade %>
            <% elsif (color_name(f.color_hex,f.facility)).nil? %>
              <%= f.grade.grade if f.grade %>
            <% else %>
              <%= f.grade.grade + " "+ color_name(f.color_hex,f.facility)[0].upcase if f.grade %>
            <% end %>
          </strong></h3>
          <% end %>


          <span class="pull-right"><%= (image_tag f.facility.logo_image.url(:medium), class: "img-facility-logo-list") if f.facility.logo_image %></span>
        </div>

      </div>
      <div class="row doubletab">
        <div class="col-sm-12">
          <h2> <%= f.name if f.name %> <%= "#" + f.id.to_s %></h2>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
            <div><%= f.facility.name if f.facility %> <%= f.facility.location if f.facility.location %></div>
        </div>

        <div class="col-sm-12">
            <div><%= f.zone.name if f.zone %> > <%= f.wall.name if f.wall %></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div><%= f.user.name if f.user %></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="text-right">


              <% unless params[:controller] == 'admin/tasks' %>
                <% if (days_ago(f) == "today") %>
                  <span>set <%= days_ago(f) %></span>
                <% else %>
                  set <%= days_ago(f) %> ago
                <% end %>
              <% else %>
                <% if f.setdate? %>
                due on <%= f.setdate.strftime("%b %d, %Y") %>
                <% end %>
              <% end %>


          </div>
        </div>
      </div>
    </span>






  </li>
</ol>

          <% unless params[:controller] == 'admin/tasks' %>
          <div class="col-xs-12 col-sm-4">
            <div class="row">
                <% if f.image.exists? %>
                  <% if params[:action] == 'home' %>
                    <br>
                      <%= link_to image_tag(f.image.url(:medium), class: "img-route-show") , facility_route_path(f.facility_id, f.id) %>
                  <% else %>
                    <br>
                      <%= link_to image_tag(f.image.url(:medium), class: "img-route-show") , "#routeShowModal", data: { toggle: "modal"} %>
                  <% end %>
                <% end %>
            </div>
          </div>
          <% end %>




<!-- Modal -->

  <div class="modal fade" id="routeShowModal" tabindex="-1" role="dialog" aria-labelledby="routeShowModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="routeShowModal"><span class="logo"><%= link_to (image_tag 'cc_white_horizontal.png'), root_path, class: "logo" %></span></span>
        </div>
        <div class="modal-body row">
          <%= image_tag f.image.url, class: "img-route-show"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-close" data-dismiss="modal">close</button>
        </div>
      </div>
    </div>
  </div>
