<div class="row">
<%= render(
partial: 'routes/route',
locals: { f: @route }
) %>
</div>

<br>

<%= link_to "#newTickModal", data: { toggle: "modal"}, class: "btn btn-save btn-lg pull-right" do %>
      Log new tick
      <% end %>
<br>

<div class="row">
<%= render(
partial: 'routes/tick_list',
locals: { route: @route }
) %>
</div>



<!-- Tick Modal -->

  <div class="modal fade" id="newTickModal" tabindex="-1" role="dialog" aria-labelledby="newTickModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="newTickModal"><%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/climbconnect-assets/logos/cc-white-horizontal.svg'), root_path, class: "logo" %></span>
        </div>
        <div class="modal-body row">
          <%= form_for [current_user, @route.facility , @route, @tick], :html => {:class => "form-label", :multipart => true } do |f| %>
            <%= render(
            partial: 'ticks/route_tick_form',
            locals: { f: f }
            ) %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-save" %>
          <button type="button" class="btn btn-close" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
