<% provide(:title, current_user.name + " Routes") %>

<div class="container-fluid">
      <div class="row">
        <% unless params[:facility_id].present? %>
        <div class="col-sm-4 hidden-xs">
          <%= render 'users/user_stats', object: @user_tick_feed %>
          <%= render 'users/top10sends', object: @user_tick_feed %>
          <%= render 'users/top10routes', object: @user_tick_feed %>
          <%= render 'users/newest10routes', object: @user_tick_feed %>
        </div>

        <% else %>

        <div class="col-sm-4 hidden-xs">
          <%= render 'facilities/facility_stats', object: @facility %>
          <%= render 'facilities/top10sends', object: @facility %>
          <%= render 'facilities/top10routes', object: @facility %>
          <%= render 'facilities/newest10routes', object: @facility %>
        </div>
        <% end %>

        <div class="col-sm-8">
            <%= render 'routes/index_partial', object: @user_tick_feed %>
        </div>
      </div>
</div>
