<% provide(:title, current_user.name + " Routes") %>

<div class="container-fluid">
      <div class="row">
        <% unless params[:facility_id].present? %>
        <div class="col-sm-5 col-md-4 hidden-xs">
          <%= render 'users/user_stats' %>
          <div class="hidden-sm hidden-md hidden-lg"><br></div>

          <%= render 'users/top10sends' %>
          <%= render 'users/top10routes' %>
          <%= render 'users/newest10routes' %>

        </div>

        <% else %>

        <div class="col-sm-4">
          <%= render 'facilities/facility_stats', object: @facility %>
        </div>
        <% end %>

        <div class="col-sm-8">
            <%= render 'routes/index_partial', object: @user_tick_feed %>
        </div>
      </div>
</div>
