<% provide(:title, 'Add a route') %>

<div class="container">
    <h1>Add a route</h1>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@route) do |f| %>
          <%= render 'shared/error_messages', object: @route %>

          <%= f.label :facility_id, "Facility Name" %>
          <%= f.select(:facility_id, @userfacilities) %>

          <%= f.label :name, "Route Name/Description" %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :color, "Route Color"%>
          <%= f.text_field :color, class: 'form-control' %>

          <%= f.label :setter, "Route Setter" %>
          <%= f.text_field :setter, class: 'form-control' %>

          <%= f.label :setdate, "Set Date" %>
          <%= f.date_field :setdate, :value => Time.now.strftime('%Y-%m-%d'), class: 'form-control' %>

          <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
