<% provide(:title, @route.name) %>


<div class="container-fluid">
  <div class="routes">
    <h1><%= @route.grade.grade %><small> <%= @route.name %></small></h1>
    <div class="row">
      <div class="col-sm-2">
          <h2>Color:</h2>
      </div>
      <div class="col-sm-3">
          <h2><%= @route.color %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
          <h2>Setter:</h2>
      </div>
      <div class="col-sm-3">
          <h2><%= @route.setter.nick_name %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
          <h2>Zone:</h2>
      </div>
      <div class="col-sm-3">
          <h2><%= @route.zone.name if @route.zone %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
          <h2>Wall:</h2>
      </div>
      <div class="col-sm-3">
          <h2><%= @route.wall.name if @route.wall %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
          <p><%= @route.description %></p>
      </div>
    </div>
  </div>
</div>
