<% provide(:title, @route.facility.name) %>

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <%= render 'facilities/facility_stats' %>
          <%= render 'users/top10sends', object: @user_tick_feed %>
          <%= render 'users/top10routes', object: @user_tick_feed %>
          <%= render 'users/newest10routes', object: @user_tick_feed %>
        </div>
        <div class="col-sm-8">
            <%= render 'routes/show_partial', object: @user_tick_feed %>
        </div>
      </div>
</div>
