
<br/>
<%= form_for [:admin, @facility, @setter] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div class="col-sm-3 col-md-3 col-lg-3">
  <%= f.label :first_name, "First name", class: 'sr-only' %>
  <%= f.text_field :first_name, class: 'form-control', placeholder: "First name" %>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
  <%= f.label :last_name, "Last name", class: 'sr-only' %>
  <%= f.text_field :last_name, class: 'form-control', placeholder: "Last name" %>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
  <%= f.label :nick_name, "Display name", class: 'sr-only' %>
  <%= f.text_field :nick_name, class: 'form-control', placeholder: "Display name" %>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
  <%= f.label "Submit", class: 'sr-only' %>
  <%= f.submit "Submit", class: "btn btn-submit" %>
</div>
<% end %>
