<div class="row">
  <div class="col-xs-12">
    <div class="headliner">
      <h1><strong>CLIMB | CONNECT</strong> Pro</h1>
    </div>
  </div>
</div>

<br/>


<div class="row">
  <div class="col-xs-12">
    <strong>Description: </strong>CLIMB |  CONNECT <%= @facility.plan.name.humanize %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Monthly recurring charge: </strong><%= number_to_currency(@facility.plan.price) %>
  </div>
</div>
<br/>



  <%= form_for [:admin, @facility, @subscription] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :facility_id, value: @facility.id %>
  <div class="row">
    <div class="col-xs-8 col-sm-8">
      <%= label_tag(:couponCode, 'Have a coupon code?') %>
      <%= text_field_tag(:couponCode) %>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-12">
      <div class="actions">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_DvsqRdzbIZU1Qk2M4hem9GRY"
          data-name="CLIMB | CONNECT"
          data-description="<%= @facility.plan.description %>"
          data-amount="<%= @final_amount.to_i %>"
          data-panel-label="Subscribe"
          data-label="Add Payment Method"
          data-email="<%= current_user.email %>"
          data-allow-remember-me="false"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
        </script>
      </div>
    </div>
  </div>

  <% end %>
