<%= form_for [:admin, @facility, @subscription] do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :facility_id, value: @facility.id %>

<div class="actions">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_DvsqRdzbIZU1Qk2M4hem9GRY"
    data-amount="<%= @facility.plan.price.to_i * 100 %>"
    data-name="Climb | Connect"
    data-description="<%= @facility.plan.description %>"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</div>

<% end %>
