
<div class="headliner">
  <h1>Subscriptions</h1>
</div>

  <%= div_for(@subscriptions) do |f| %>
  <ol class="routelist">
    <div class="divider-line"></div>
    <li>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8">
            <p><%= f.plan.description.humanize if f.plan %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <strong>Amount: </strong><%= number_to_currency(f.plan.price) if f.plan %>
          </div>
          <div class="col-xs-12">
            <strong>Renewal Date: </strong><%= f.end_date %>
          </div>

          <div class="col-xs-12 col-sm-12">
            <span class="pull-right">
              <%= link_to "Manage", admin_facility_subscription_path(@facility, f), class: "btn btn-nav btn-sm" %>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
