<div class="row">
  <div class="routelist-header bg-blue-gradient">
    <h1>Subscriptions</h1>
  </div>
</div>
<br>

<div class="row">
  <%= div_for(@subscriptions) do |f| %>
  <ol class="routelist">
    <li style="border: none;">
      <div>
        <div class="container-fluid">
          <div class="row">
            <br/>
            <div class="col-xs-8">
              <h3><%= f.plan.description.humanize if f.plan %></h3>
            </div>
          </div>
          <div class="row">

            <% unless f.current_period_start.nil? %>
              <div class="col-xs-12">
                  <strong>Current Billing Period: </strong><%= Time.at(f.current_period_start).strftime("%b %d, %Y") %> to <%= Time.at(f.current_period_end).strftime("%b %d, %Y") if f.current_period_start %>
              </div>
            <% end %>

            <div class="col-xs-12">
                <strong>Status: </strong>
                  <%= f.status.to_s.capitalize if f.status %>
                  <% unless f.canceled_at.nil? %>
                   - until <%= Time.at(f.current_period_end).strftime("%b %d, %Y") %>
                  <% end %>

            </div>

            <div class="col-xs-12 col-sm-12">
              <span class="pull-right">
                <%= link_to "Manage", admin_facility_subscription_path(@facility, f), class: "btn btn-filter btn-sm" %>
              </span>

            </div>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <% end %>
</div>
