<% provide(:title, "#{@facility.name} Subscriptions") %>

  <div class="container-fluid">
      <div class="col-sm-12">
        <div class="headliner-line">
          <h1>Subscription</h1>
        </div>
        <div class="container-fluid">
          <br/>
          <div class="routelist">
            <div class="row">
              <div class="col-sm-12">
                  <strong>Subscribed by: </strong><%= @subscription.user.name %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <strong>Subscription ID: </strong><%= @subscription.stripe_subscription_id if @subscription.stripe_subscription_id %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <strong>Status: </strong>
                  <%= @subscription.status.to_s.capitalize if @subscription.status %>
                  <% unless @subscription.canceled_at.nil? %>
                   - until <%= Time.at(@subscription.current_period_end).strftime("%b %d, %Y") %>
                  <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <strong>Plan: </strong><%= @subscription.stripe_plan_id.humanize if @subscription.stripe_plan_id %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <strong>Amount: </strong><%= number_to_currency(@subscription.stripe_plan_amount.to_i / 100) + " / " + @subscription.stripe_plan_interval if @subscription.stripe_plan_amount %>
              </div>
            </div>

            <% unless @subscription.current_period_start.nil? %>
            <div class="row">
              <div class="col-sm-12">
                  <strong>Current Billing Period: </strong><%= Time.at(@subscription.current_period_start).strftime("%b %d, %Y") %> to <%= Time.at(@subscription.current_period_end).strftime("%b %d, %Y") if @subscription.current_period_start %>
              </div>
            </div>
            <% end %>

            <% unless @subscription.trial_start.nil? %>
              <div class="row">
                <div class="col-sm-12">
                    <strong>Trial Period: </strong><%= Time.at(@subscription.trial_start).strftime("%b %d, %Y") %> to <%= Time.at(@subscription.trial_start).strftime("%b %d, %Y") if @subscription.trial_start %>
                </div>
              </div>
            <% end %>

            <% unless @subscription.canceled_at.nil? %>
            <div class="row">
              <div class="col-sm-12">
                  <strong>Canceled on: </strong><%= Time.at(@subscription.canceled_at).strftime("%b %d, %Y") if @subscription.canceled_at %>
              </div>
            </div>
            <% end %>
            <br/>
          </div>
      </div>
      <div class="container-fluid">
        <div class="headliner">
          <h1> Transactions </h1>
        </div>
        <% @invoices.each do |invoice| %>
        <ol class="chartlist">
          <div class="divider-line"></div>
          <li>
            <div class="routelist">
              <div class="container-fluid">
                <div class="row">
                  <br/>
                  <div class="col-xs-12">
                    <h3><%= Time.at(invoice[:date]).strftime("%b %d, %Y") %>
                      <% if invoice[:paid] == true %>
                      <span class="badge badge-today pull-right">Paid</span>
                      <% end %></h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    Billing Period: <%= Time.at(invoice.lines.data[0].period[:start]).strftime("%b %d, %Y") + " to " + Time.at(invoice.lines.data[0].period[:end]).strftime("%b %d, %Y") %>
                  </div>
                </div>

                <br/>

                <div class="row">
                  <div class="col-xs-12">
                    <%= invoice.lines.data[0].plan[:name] %> <strong><%= number_to_currency((invoice[:subtotal]).to_i / 100) %></strong>
                  </div>
                </div>

                <br/>

                <% if !invoice.discount.blank? %>
                <div class="row">
                  <div class="col-xs-12">

                    <% if !invoice.discount.coupon[:duration_in_months].blank? %>
                    <%= (invoice.discount.coupon[:id]) + " (" + invoice.discount.coupon[:percent_off].to_s + "% off for " + invoice.discount.coupon[:duration_in_months].to_s + " months)" %> <strong><%= number_to_currency((invoice[:total]-invoice[:subtotal])/100) %></strong>
                    <% else %>
                    <%= (invoice.discount.coupon[:id]) + " (" + invoice.discount.coupon[:percent_off].to_s + "% off first month)" %> <strong><%= number_to_currency((invoice[:total]-invoice[:subtotal])/100) %></strong>
                    <% end %>
                  </div>
                </div>

                <br/>
                <% end %>

                <div class="row">
                  <div class="col-xs-12">
                    <strong>Invoice Total: <%= number_to_currency((invoice[:total]).to_i / 100) %></strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    Balance: <%= number_to_currency((invoice[:ending_balance]).to_i / 100) %>
                  </div>
                </div>

              </div>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <br/>
    <% end %>
    <% if @subscription.canceled_at.nil? %>
    <div class="row">

      <div class="col-xs-6 col-xs-offset-3 col-sm-offset-4 col-sm-4">
        <br/>
        <br/>
        <br/>
        <br/>
        <%= button_to "Cancel Subscription", cancel_admin_facility_subscription_path(@facility, @subscription), class: "btn btn-cancel btn-sm", method: :cancel, data: {:confirm => "Are you sure you'd like to cancel?."} %>
      </div>

    </div>
    <% end %>
  </div>
