<%= page_entries_info @grades  %>
<table class="table table-condensed">
  <tr>
    <th>Grade</th>
    <th>Discipline</th>
    <th>Value</th>
    <th>Route Count</th>
  </tr>
    <% @grades.each do |grade| %>
    <tr>
      <% if @facility.custom? %>
        <td><%=link_to grade.grade,  edit_admin_facility_grade_path(@facility, grade ) %></td>
        <% else %>
          <td><%= grade.grade %></td>
      <% end %>
      <td><%= grade.discipline %></td>
      <td><%= grade.rank %></td>
      <td><%= grade.routes.where('facility_id = ?', @facility.id).count %> routes</td>
   </tr>
  <% end %>
</table>
<%= paginate @grades %>
</div>
