<% provide(:title, 'Custom Grades') %>

<div class="container">
  <div class="filter-body">
    <h1>Custom Grading Scale</h1>
  </div>
  <br/>
    <div class="row">
      <div class="col-sm-6">
        <%= form_for [:admin, @facility, @grade] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :system, "System" %>
          <%= f.select :system, options_for_select(systems), class: 'form-control' %>

          <%= f.label :discipline, "Discipline" %>
          <%= f.select :discipline, options_for_select(disciplines), class: 'form-control' %>

          <%= f.label :grade, "Grade"%>
          <%= f.text_field :grade, class: 'form-control' %>

          <%= f.label :rank, "Rank" %>
          <%= f.text_field :rank, class: 'form-control' %>

          <%= f.submit "Add", class: "btn btn-primary" %>

        <% end %>
    </div>
    <div class="col-sm-6">
      <%= render 'admin/grades/grade', object: @grades %>
    </div>
</div>
