<%= div_for(@facility_roles) do |f| %>
<ol class="chartlist">
  <li>
    <div class="routelist">
      <div class="container-fluid">
        <div class="row">
          <br/>
          <% if f.confirmed? %>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
            <h3>
              <%= f.user.name %>
            </h3>
            </div>
            <div class="row">
              <p><%= f.name.humanize if f.name %></p>
            </div>
          </div>
          <% else %>
          <div class="col-xs-9 col-sm-8">
            <div class="row">
              <h3>
                <%= f.email if f.email%>
              </h3>
            </div>
            <div class="row">
              <p><%= f.name.humanize if f.name %></p>
            </div>
          </div>
          <% end %>


          <div class="col-xs-3 col-sm-2 hidden-xs">
            <% if f.confirmed? %>
            <h3><i class="glyphicon glyphicon-ok glyphicon-green"></i></h3>
            <% else %>
            <p>Invited</p>
            <% end %>
          </div>

          <div class="col-xs-1 col-sm-1 col-md-1 no-print">
            <h3><%= link_to edit_admin_facility_facility_role_path(@facility, f ) do %>
                        <i class="glyphicon glyphicon-cog"></i>
                        <%end %>
            </h3>
          </div>

          <div class="col-xs-1 col-sm-1 col-md-1 no-print">
            <h3><%= link_to admin_facility_facility_role_path(@facility, f), data: {:confirm => 'Are you sure? This cannot be undone.'},
                        :method => :delete do %>
                        <i class="glyphicon glyphicon-trash"></i>
                        <%end %>
            </h3>
          </div>
        </div>
        <div class="row">
          <% if Route.where(user_id: f.user_id).count > 0 %>
            <%= render 'facilities/rolegradedist', :f => f %>
          <% end %>
        </div>
      </div>
    </div>
  </li>
</ol>
<% end %>
