<br/>
<div class="row">
<%= form_for [:admin, @facility, @facility_role], remote: false do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= f.label :email, "Recipient's Email Address:" %>
    <%= f.text_field :email, class: 'form-control', placeholder: "Enter email address" %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= f.label :name, "Assign role:" %>
    <%= f.select(:name, @role_names ,{include_blank: "Select role..." },{class: "form-control"}) %>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <label class="hidden-xl">&nbsp;</label>
    <%= f.submit "Save", class: "btn btn-submit" %>
  </div>
</div>


<div class="row pull-right">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <%= link_to "cancel", admin_facility_facility_roles_path %>
  </div>
</div>
<% end %>
