<div class="container-fluid">
  <div class="row">
    <div class="routelist-header bg-blue-gradient">
      <h1>Team</h1>
        <span class="pull-right no-print">
            <%= link_to "Add team member", '#newFacilityRoleModal', data: { toggle: "modal"}, remote: false, class: "btn btn-close", style: "display: inline-block" %>
        </span>
    </div>
  </div>
  <div class="row">
    <%= render 'admin/facility_roles/facility_role', object: @facility_roles %>
  </div>
</div>

<!-- Modal -->

  <div class="modal fade" id="newFacilityRoleModal" tabindex="-1" role="dialog" aria-labelledby="newFacilityRoleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title" id="newFacilityRoleModal"><%= link_to (image_tag 'https://s3-us-west-2.amazonaws.com/climbconnect-assets/logos/cc-white-horizontal.svg'), root_path, class: "logo" %></span>
        </div>
        <div class="modal-body row">
          <%= form_for [:admin, @facility, @facility_role], :html => {:class => "form-label"}, remote: false do |f| %>
              <%= render 'admin/facility_roles/form', :f => f %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, class: "btn btn-save" %>
          <button type="button" class="btn btn-close" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
