<!-- Left nav -->
<div class="bg-profile-header bg-profile-admin-comp">
  <div>

<h1><%= @competition.name %></h1>

    <%= link_to facility_competition_path(@facility, @competition) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-trophy" aria-hidden="true"></i><span class="text">Home</span></div>
      </div>
    <% end %>

    <%= link_to route_list_facility_competition_path(@facility, @competition) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="text"><%= "Stats" %></span></div>
      </div>
    <% end %>

    <% if @competition.users_as_participants.where(user_id: current_user, role_name: 'admin').count > 0 %>
      <%= link_to edit_facility_competition_path(@facility, @competition) do %>
        <div class="circle-wrapper">
          <div class="large-circle responsive"><i class="fa fa-cogs" aria-hidden="true"></i><span class="text"><%= "Settings" %></span></div>
        </div>
      <% end %>
    <% end %>

    <%= link_to facility_path(@facility) do %>
      <%= image_tag( @facility.logo_image.url(:medium) ,:class=> "img-facility-logo-profile") %>
    <% end %>


  </div>
</div>
