<!-- Left nav -->
<div class="container">
  <div class="routes">
    <div class="row">
      <div class="col-sm-12">
          <h1><%= @facility.name %><small> <%= @facility.location %></small></h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div id="admin-header">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="hidden-md hidden-lg hidden-sm hidden-xl">
              <ul>
              <li class="pull-right"><%= link_to "Add Routes", new_admin_facility_route_path(@facility), class: "btn btn-nav btn-md" %> <%= link_to "Find Routes", admin_facility_routes_path(@facility), class: "btn btn-nav btn-md" %></li>
              </ul>
            </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="<%= 'active' if current_page?(admin_facility_path(@facility)) %>"><%= link_to "Home", admin_facility_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_routes_path(@facility)) %> hidden-xs"><%= link_to "Route Database", admin_facility_routes_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(new_admin_facility_route_path(@facility)) %> hidden-xs"><%= link_to "Add Routes", new_admin_facility_route_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_zones_path(@facility)) %>"><%= link_to "Zones", admin_facility_zones_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_facility_roles_path(@facility)) %>"><%= link_to "Team", admin_facility_facility_roles_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_grades_path(@facility)) %>"><%= link_to "Grades", admin_facility_grades_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_facility_targets_path(@facility)) %>"><%= link_to "Targets", admin_facility_facility_targets_path(@facility) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                Facility <b class="caret"></b>
              </a>
              <ul class="dropdown dropdown-menu white">
                <li><%= link_to "Facility Info", edit_admin_facility_path(@facility) %></li>
                <li><%= link_to "Subscriptions", admin_facility_subscriptions_path(@facility) %></li>
                <li><%= link_to "Custom Settings", edit_admin_facility_path(@facility) %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
</div>
