<header class="navbar navbar-top navbar">
  <div class="container">
    <nav>
    <ul class="nav navbar-nav navbar-center">
      <li><%= link_to @facility.name, admin_facility_routes_path(@facility) %></li>
      <li><%= link_to "Route Database", admin_facility_routes_path(@facility) %></li>
      <li><%= link_to "Add Routes", new_admin_facility_route_path(@facility) %></li>
      <li><%= link_to "Zones", new_admin_facility_zone_path(@facility) %></li>
      <li><%= link_to "Walls", new_admin_facility_wall_path(@facility) %></li>
      <li><%= link_to "Routesetters", new_admin_facility_setter_path(@facility) %></li>
      <li><%= link_to "Grades", new_admin_facility_grade_path(@facility) %></li>
    </ul>
    </nav>
  </div>
</header>
