<!-- Left nav -->
<div class="container">
  <div class="routes">
    <div class="row">
      <div class="col-sm-12">
          <h1><%= @facility.name %><small> <%= @facility.location %></small></h1>
      </div>
    </div>
  </div>


  <div class="container">
    <div id="admin-header">
      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="<%= 'active' if current_page?(admin_facility_path(@facility)) %>"><%= link_to "Home", admin_facility_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_routes_path(@facility)) %>"><%= link_to "Route Database", admin_facility_routes_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(new_admin_facility_route_path(@facility)) %>"><%= link_to "Add Routes", new_admin_facility_route_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_zones_path(@facility)) %>"><%= link_to "Zones", admin_facility_zones_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(new_admin_facility_setter_path(@facility)) %>"><%= link_to "Routesetters", new_admin_facility_setter_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(admin_facility_grades_path(@facility)) %>"><%= link_to "Grades", admin_facility_grades_path(@facility) %></li>
            <li class="<%= 'active' if current_page?(edit_admin_facility_path(@facility)) %>"><%= link_to "Edit", edit_admin_facility_path(@facility) %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
</div>
