<!-- Left nav -->
<div id="bodyTop"></div>
<div class="bg-profile-header bg-profile-facility">
  <div>

    <h1><%= @facility.name %></h1>
    <h2><%= @facility.location if @facility.location %></h2>

    <%= link_to facility_path(@facility) do %>
    <div class="circle-wrapper">
      <div class="large-circle-transparent responsive"><%= image_tag( @facility.logo_image.url(:medium) ,:class=> "img-facility-circle-button") %></div>
         </div>
    <% end %>

    <% unless @facility.demo? %>
       <%= render 'facilities/follow_button', facility: @facility %>
     <% end %>



     <% if Subscription.where(facility_id: @facility.id, status: 'active', stripe_plan_id: 'facility_admin').count == 0 %>
     <%= link_to new_admin_facility_subscription_path(@facility) do %>
      <div class="circle-wrapper pull-right">
        <div class="large-circle responsive"><i class="fa fa-hand-paper-o" aria-hidden="true"></i><span class="text"><%= "Claim" %></span></div>
      </div>
    <% end %>
    <% end %>





  </div>
</div>
