<!-- Navbar static top -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex2-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "climb | connect", root_path, id: "logo", class: "tab" %>
    </div>
    <div class="navbar-collapse collapse" id="navbar-ex2-collapse">

      <!-- Left nav -->
      <ul class="nav navbar-nav navbar navbar-left">


        <% if current_user.present? && (current_user.role == "facility_admin" || current_user.role == "site_admin") %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Route Management  <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <% @userfacilities.each do |f| %>
            <li>
                <%= link_to f.name + " " + f.location, admin_facility_path(f) %>
            </li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to "Add New Location", new_admin_facility_path %>
            </li>
          </ul>
        </li>

        <% if current_user.role == "site_admin" %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Admin Tools <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li>
                <%= link_to "Grading Systems" , admin_grade_systems_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <% elsif user_signed_in? %>

        <li><%= link_to "Facilities", facilities_path %></li>

        <li><%= link_to "Features & Details", marketing_path %></li>
        <li><%= link_to "Request Beta Access", new_user_registration_path %></li>

        <% end %>


      </ul>

      <!-- Right nav -->
      <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if current_user.image? %><%= image_tag current_user.image ,:class=> "img-profile-icon" %><% end %><%= current_user.name %> <% if FacilityRole.where("email = ?", current_user.email ).unconfirmed.count > 0 %><span class="badge badge-red"> <%= FacilityRole.where("email = ?", current_user.email ).unconfirmed.count %></span> <% end %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Inbox", inbox_user_path(current_user) %><div class="badge badge-red"><%= FacilityRole.where("email = ?", current_user.email ).unconfirmed.count %></div></li>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path , method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div>
