<!-- Navbar static top -->
<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "climb | connect", root_path, id: "logo" %>
    </div>
    <div class="navbar-collapse collapse">

      <!-- Left nav -->
      <ul class="nav navbar-nav navbar navbar-left">
        <li><%= link_to "Indoor", facilities_path %></li>
        <li><%= link_to "Outdoor", outdoors_path %></li>
        <li><%= link_to "Find a Partner", social_path %></li>

        <% if current_user.present? && (current_user.role == "facility_admin" || current_user.role == "admin") %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Route Management <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li>
              <% @userfacilities.each do |f| %>
              <%= link_to f.name + " - " + f.location, admin_facility_path(f) %>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "Add New Location", new_admin_facility_path %>
            </li>
          </ul>
        </li>
        <% end %>
      </ul>

      <!-- Right nav -->
      <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path , method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div>
