

<!-- Navbar static top -->
<div class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex2-collapse" id="hamburger">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="logo"><%= link_to (image_tag 'cc_white_horizontal.png'), root_path, class: "logo" %></span>
    </div>
    <div class="navbar-collapse collapse navbar-custom" id="navbar-ex2-collapse">

      <!-- Left nav -->
      <ul class="nav navbar-nav navbar-left">


        <% if current_user.present? && (current_user.role == "facility_admin" || current_user.role == "site_admin") %>
        <% unless Route.where(user_id: current_user.id).count > 0 %>

          <li>
              <%= link_to "See Demo" , admin_facility_path(Facility.where(demo: true).first), method: 'get'  %>
          </li>

        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            ROUTE MANAGEMENT <b class="caret"></b>
          </a>
          <ul class="dropdown-menu scrollable-menu" role="menu">
            <% @userfacilities.each do |f| %>
            <li>
                <%= link_to f.name + " " + f.location, admin_facility_path(f) if f.location %>
            </li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to new_admin_facility_path do %>
                <i class="glyphicon glyphicon-plus-sign"></i> Add New Facility
                <% end %>
            </li>
          </ul>
        </li>

        <% if current_user.role == "site_admin" %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Admin Tools <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li>
                <%= link_to "Grading Systems" , admin_grade_systems_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <% elsif user_signed_in? %>

        <li><%= link_to "Facility Setup" , new_admin_facility_path  %></li>

        <% unless Route.where(user_id: current_user.id).count > 0 %>

          <li>
            <%= link_to "See Demo" , admin_facility_path(Facility.where(demo: true).first), method: 'get'  %>
          </li>

        <% end %>



        <% else %>

        <li><%= link_to "Features & Details", root_url + "#features" %></li>

        <li>
          <%= link_to "Demo" , admin_facility_path(Facility.where(demo: true).first), method: 'get'  %>
        </li>

        <% end %>


      </ul>

      <!-- Right nav -->
      <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
          <li>
              <%= link_to home_user_path(current_user) do %>
              <% if current_user.image? %><%= image_tag current_user.image ,:class=> "img-profile-icon" %>
              <% else %>
              <%= image_tag current_user.avatar.url(:thumb), class: "img-profile-icon" %>
              <% end %>

              <%= current_user.name.upcase %>

              <% end %>

            </li>

              <li class="hidden-xs">
                <%= link_to destroy_user_session_path , method: :delete do %>
                  <i class="fa fa-power-off power-off"></i>
                  <% end %>
              </li>


              <li class="hidden-sm hidden-md hidden-lg">
                <%= link_to "Log out", destroy_user_session_path , method: :delete %>
              </li>

        <% else %>
        <li>
            <%= link_to "pre-launch access" , new_user_registration_path, method: 'get'  %>
        </li>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>

    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div>
<span id="startchange"></span>
