<!-- Left nav -->
<div class="container">
  <div class="routes">
    <div class="row">
      <div class="col-sm-12">
          <h1><%= @facility.name %><small> <%= @facility.location %></small></h1>
      </div>
    </div>
  </div>


  <div class="container">
    <ul class="nav nav-pills">
      <li class="<%= 'active' if current_page?(facility_path(@facility)) %>"><%= link_to "Home", facility_path(@facility) %></li>
      <li class="<%= 'active' if current_page?(facility_routes_path(@facility)) %>"><%= link_to "Route Database", facility_routes_path(@facility) %></li>
      <li class="<%= 'active' if current_page?(facility_routes_path(@facility)) %>"><%= link_to "Leaderboard", "#" %></li>
      <li class="<%= 'active' if current_page?(facility_routes_path(@facility)) %>"><%= link_to "Find Partners", "#" %></li>
      <li class="<%= 'active' if current_page?(facility_routes_path(@facility)) %>"><%= link_to "Discussion", "#" %></li>
    </ul>
  </div>
</div>
