<!-- Left nav -->
<div class="bg-profile-header bg-profile-facility">
  <div>

    <h1><%= @user.name %></h1>


    <% if current_user == @user %>
    <%= link_to home_user_path(@user) do %>
    <div class="circle-wrapper">
      <div class="large-circle-transparent responsive">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:medium), class: "img-user-circle-button" %>
        <% elsif @user.image? %>
          <%= image_tag @user.image ,:class=> "img-user-circle-button" %>
        <% else %>
          <%= image_tag @user.avatar.url(:medium), class: "img-user-circle-button" %>
        <% end %>
      </div>
    </div>
    <% end %>

    <% else %>
    <%= link_to user_path(@user) do %>
    <div class="circle-wrapper">
      <div class="large-circle-transparent responsive">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url(:medium), class: "img-user-circle-button" %>
        <% elsif @user.image? %>
          <%= image_tag @user.image ,:class=> "img-user-circle-button" %>
        <% else %>
          <%= image_tag @user.avatar.url(:medium), class: "img-user-circle-button" %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>

    <% if @user == current_user %>


    <%= link_to user_routes_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-list" aria-hidden="true"></i><span class="text"><%= "Route List" %></span></div>
      </div>
    <% end %>

    <%= link_to new_user_tick_path(@user) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-plus-square" aria-hidden="true"></i><span class="text"><%= "New tick" %></span></div>
      </div>
    <% end %>


      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-sm btn-primary top-right-edit" %>
    <% end %>



  </div>
</div>
