<!-- Left nav -->
<div class="bg-profile-header">
  <div class="routes">
    <div class="row">

      <div class="col-sm-12">
        <%= link_to home_user_path(current_user) do %>
        <h1><% if @user.image? %><%= image_tag @user.image ,:class=> "img-profile-medium" %>
        <% else %>
        <%= image_tag @user.avatar.url(:thumb), class: "img-profile-medium" %>
        <% end %>
        <%= @user.name if @user.name %></h1>
        <% end %>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div id="admin-header">
      <nav class="navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="hidden-md hidden-lg hidden-sm hidden-xl">
              <span class="pull-right">
                <%= link_to "New Tick", new_user_tick_path(current_user), class: "btn btn-md btn-purple" %>
                <%= link_to "Routes", user_routes_path(current_user), class: "btn btn-md btn-purple" %>
                <%= link_to  "Ticks", user_ticks_path(current_user), class: "btn btn-md btn-purple" %>
              </span>
            </span>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-ex1-collapse">

          <% if @user == current_user %>
          <ul class="nav navbar-nav navbar-left">
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "HOME", home_user_path(@user) %></li>
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "tick list", user_ticks_path(@user) %></li>
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "BROWSE ROUTES", user_routes_path(@user) %></li>
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "NEW ASCENT", new_user_tick_path(@user) %></li>
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "FACILITIES", user_facility_roles_path(@user) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                SETTINGS <b class="caret"></b>
              </a>
              <ul class="dropdown dropdown-menu white">
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Inbox", inbox_user_path(current_user) %><div class="badge badge-red"><%= FacilityRole.where("email = ?", current_user.email ).unconfirmed.count %></div></li>
              </ul>
            </li>
          </ul>

          <% else %>

          <ul class="nav navbar-nav navbar-left">
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "PROFILE", user_path(@user) %></li>
            <li class="<%= 'active' if current_page?('#') %>"><%= link_to "TICK LIST", user_ticks_path(@user) %></li>
          </ul>

          <% end %>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
</div>
