<!-- Left nav -->
<div class="bg-profile-header">
  <div>


    <%= link_to home_user_path(current_user) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-home" aria-hidden="true"></i><span class="text">Home</span></div>
      </div>
    <% end %>

    <%= link_to user_routes_path(current_user) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-list" aria-hidden="true"></i><span class="text"><%= "Route List" %></span></div>
      </div>
    <% end %>

    <%= link_to new_user_tick_path(current_user) do %>
      <div class="circle-wrapper">
        <div class="large-circle responsive"><i class="fa fa-plus-square" aria-hidden="true"></i><span class="text"><%= "New tick" %></span></div>
      </div>
    <% end %>

    <%= link_to home_user_path(current_user) do %>
      <% if current_user.avatar? %>
        <%= image_tag current_user.avatar.url(:thumb), class: "img-user-image-profile" %>
      <% elsif current_user.image? %>
        <%= image_tag current_user.image ,:class=> "img-user-image-profile" %>
      <% else %>
        <%= image_tag current_user.avatar.url(:thumb), class: "img-user-image-profile" %>
      <% end %>
    <% end %>

  </div>
</div>
